[2013-12-03 22:24] Rickasaurus opened #1 "Intellisense is not supported"
Getting the needed data out of the compiler is straightforward, but we need to figure out a way to track the contents of all cells on the F# kernel side.

[2013-12-03 22:26] Rickasaurus opened #2 "Only the last chart/expression evaluated is currently shown."
Currently we look into the FSI pretty printer for our output.  However, F# suppresses output for all but the last evaluated expression.

There are many approaches to fixing this.  The best in my mind would be to stick with the iPython style of having an explicit output function.

[2013-12-03 22:27] Rickasaurus opened #3 "Not all 0mq client->kernel messages are handled"
Currently, only a subset of the messages from the UI to the kernel are handled.  However, everything seems to work just fine.

The unhanded messages need to be evaluated so it can be determined if they should be implemented.

[2013-12-03 22:29] Rickasaurus opened #4 "Syntax Coloring Needs Improvement (CodeMirror)"
Currently the syntax coloring is done via a hacked up Scheme variant.  This should be reworked for F# explicitly via the spec or a port of an existing implementation.

[2013-12-07 00:11] #2 closed, assigned to nobody

[2014-02-04 19:31] sergshabal opened #5 "setups"
Hello. I have a problem with this:
6 Open up the copied "ipython_config.py" file and change "..\bin\ifsharp.exe" to the path of your compiled ifsharp executable.
In ipython_config.py I dont have any path to ifsharp.exe. So, what I need to change?

[2014-02-04 20:08] #1 closed, assigned to nobody

[2014-02-04 20:09] #3 closed, assigned to nobody

[2014-02-05 07:54] #5 closed, assigned to nobody

[2014-02-06 16:26] Rickasaurus opened #6 "Installation instructions are now outdated"
We need to provide a link to the installer.

[2014-02-06 17:38] #6 closed, assigned to nobody

[2014-02-06 17:39] Rickasaurus opened #7 "Windows 8 gives a rather serious looking warning when the installer is run."
I believe that this can be fixed by signing the installer with a proper certificate.

[2014-02-26 18:42] nrolland opened #8 "fake install script issue"
I get this error when running the cmd file. probably due to fake, I don't see versioning.
It works fine from VS though.

[code]

[2014-02-26 20:11] pblasucci opened #9 "Fill out release notes"
Let's start using RELEASE_NOTES.md for its intended purpose. The project's mature enough now.

[2014-02-26 20:12] #8 closed, assigned to nobody

[2014-02-26 21:19] #9 closed, assigned to prosconi

[2014-04-22 15:48] hmansell opened #10 "Custom default visualizations"
Loving this - great work guys!

Just wondering whether it is possible to register some custom visualizations for a type.  For example, a Deedle frame?

Right now, if I reference Deedle and create a series I get a textual output.   Would love for the default to be an HTML table for a Series or Frame.

e.g.:

[code]
val it : Series<int,int> = series [ 1 => 2; 2 => 3]

[2014-04-22 15:48] hmansell opened #11 "Any way to customize the nuget server settings?"
So we go to an internal repository by default?

[2014-04-22 17:47] #11 closed, assigned to nobody

[2014-04-22 22:43] hmansell opened #12 "Can't get intellisense to work"
If I create a new notebook and type ```open System.``` I don't get any pop-up.  Do I need to do something to work it work?

[2014-04-24 05:56] prosconi opened #13 "Non-code cells are being sent to server for evaluation"
When the user performs an Intellisense action, non-code cells such as markdown cells are being sent to the server. Only code cells should be sent.

[2014-04-24 05:58] prosconi opened #14 "Display compilation errors as red squiggly lines"
Send back compilation errors and display them as red squiggly lines when compilation happens. When the user hovers over the error, the error text should be displayed

[2014-04-24 20:43] #13 closed, assigned to nobody

[2014-04-24 20:44] #14 closed, assigned to nobody

[2014-04-30 01:27] prosconi opened #16 "Auto install UI scripts on version changes"
UI scripts, custom.js, custom.css should be installed automatically when ifsharp.exe when these version of these files change.

[2014-04-30 22:21] mndrake opened #17 "Automatically reference NuGet dependencies"
I don't know how easy this would be to include, but I was hoping it would be possible to mimic the default behavior for the Visual Studio NuGet Package Manager.  If you reference a packaged via ``#N`` the dependencies are not retrieved if not already downloaded.  An example that has a few layers of dependencies would be ``#N "FsLab/0.0.13-beta"``.

[2014-04-30 22:50] prosconi opened #18 "NuGetManager errors out when there are no AssemblyReferences"
NuGetManager errors out when there are no AssemblyReferences

[2014-04-30 23:47] aolney opened #19 "Win 8.1 repeated "Kernel Restarting""
Win 8.1 x64 in a virtual machine, VS not installed, Anacoda/IPython/Latest installer as per Automatic Installation directions.

Initially when running IFSharp, it would crash when I tried to "Create new notebook". The error thrown was along the lines of unable to find libzmq.dll. I solved that by installing Visual C++ 2012 Redistributable Package here http://support.microsoft.com/kb/2019667 (I ins

[2014-05-01 20:09] #18 closed, assigned to nobody

[2014-05-27 22:05] dcharbon opened #20 "Notebook is run in 32-bit even if Anaconda is 64-bit"
The iFSharp notebook runs 32-bit by default, even if Anaconda is 64-bit. I got around this in a local build by removing the preference for 32-bit in IFSharp.Console and by linking to a locally built 64-bit assembly for libzmq.dll.

Perhaps 64-bit should be the default and have gcAllowVeryLargeObjects (mentioned by @Rickasaurus in email).

[2014-05-30 18:26] dcharbon opened #21 "#N NuGet referencing isn't supported in Include.fsx"
It would be handy if #N were supported in Include.fsx. My particular use case is setting up a shared IFSharp installation that references an internal NuGet package and opens a few namespaces from that package as the shared default, rather than every notebook having to reference that package and specify the default set of namespaces to open.

[2014-05-30 18:39] dcharbon opened #22 "#N can be configured to only a single NuGet repository"
It would be nice to be able to reference multiple NuGet repositories to support scenarios where local NuGet packages are needed.

[2014-06-01 07:04] sirinath opened #23 "Beaker Notebook Support"
Hi,

Is it possible to look into how you can get this to work with Beaker Notebook (http://beakernotebook.com/).

Suminda

[2014-06-02 17:12] #22 closed, assigned to nobody

[2014-06-02 17:12] #21 closed, assigned to nobody

[2014-06-02 18:05] #16 closed, assigned to nobody

[2014-06-03 02:25] prosconi opened #24 "Support for quoted identifiers in intellisense"
Currently quoted identifiers are not supported by intellisense on the backed or the front-end

[2014-06-11 18:21] #20 closed, assigned to nobody

[2014-06-11 21:37] prosconi opened #25 "Intellisense box won't go away"
The intellisense box should hide itself when another cell gains focus

[2014-07-20 04:05] nrolland opened #28 "build.fsx"
Invoking "build Build" (build being the script calling Fake calling MSBuild ) does not seem to actually build the projects IfSharpConsole and Kernel, although going through VS for compiling the solution does compile it. can someone reproduce ?

[2014-08-07 06:58] simra opened #29 "Could not load FSharp.Core assembly"
Hi, I'm trying to build from VS2012.
On my first attempt the projects are fussy because they can't resolve FSharp.Core 4.3.1.  I tried deleting the references and re-adding them for IFSharp.Kernel and IFSharp.Kernel.Tests.  When I create a new notebook I see this odd combination of errors: one still hunting for FS4.3.1 and the other unable to find FS 4.3.0.  I've marked the new references to copy

[2014-10-20 18:53] torbonde opened #31 "Cannot run commands"
I have just installed iF# as described in the readme. I then run the `ipython notebook --profile ifsharp` command, which starts up the server. At this point, all seems to be working fine. But when I open the Feature Notebook, the following is written in the console, and nothing really seems to work in the notebook itself.
[code]

Can anyone tell me what is going on? I should probably tell you that

[2014-11-09 16:59] #23 closed, assigned to nobody

[2014-11-26 20:15] #19 closed, assigned to nobody

[2014-12-21 03:01] prosconi opened #32 "Switch from fszmq to netmq for easier cross-platform compatibility"
It would be nice to not have to worry about native implementations of zmq. I think that ipython may require a certain version of the zmq protocol version. Version 2.0 IIRC.

Github: https://github.com/zeromq/netmq

[2014-12-21 03:05] prosconi opened #33 "Mono support for FSharp.Charting"
It would be nice if the GTK version of FSharp.Charting is automatically used for Mono / Linux compatibility.

[2014-12-24 08:04] xkrt opened #34 "Run in QtConsole with autocomplete"
Hi!

Is it possible run IfSharp in IPython QtConsole?

[2015-01-24 23:14] mndrake commented on #31
I have tried on both OS X 10.10.1 Mono 3.12.0 and Ubuntu 14.04 Mono 3.12.0 and am able to find the libzmq.* (dylib/so) file.

However I get the same error below on both when I try to launch IfSharp. I am able to build and run on Windows.

I did find this issue can happen if ``fszmq`` is used outside of windows. https://github.com/zeromq/fszmq/issues/41

@cgravill and @torbonde there were no additi

[2015-01-25 01:06] mndrake commented on #31
I was able to get it to working (in OS X, haven't tried Ubuntu yet) by rebuilding the 3.2.7 branch of ``fszmq`` and replacing all instances of ``UnmanagedType.AnsiBStr`` with ``UnmanagedType.LPStr`` in the ``Native.fs`` as suggested by @pblasucci, and then just replacing the ``fszmq.dll`` library in the IfSharp ``bin`` folder. I would have just used the master branch, but methods have been removed

[2015-01-26 19:28] pblasucci commented on #31
@mndrake Out of curiosity, have you tried using the 4.0.x branch of `fszmq`? It should have addressed the LPStr issue. Although you _will_ need to build it with `--define:BSD_EAGAIN` in order to run it correctly on OS X (because even agreeing on a simple error code is too much for the major OS developers).

[2015-01-29 03:02] mndrake commented on #31
@pblasucci I was able to use the 4.0.x branch successfully building locally as well as using the latest from nuget. I'm assuming that the latest nuget package was not built with the ``--define:BSD_EAGAIN`` flag. Even though it appears to be working with the nuget .dll what is the issue with not using the compiler flag on OS X?

@cgravill I was able to get a basic chart example working after adding

[2015-01-29 14:14] pblasucci commented on #31
@mndrake That's terrific news! The main issue is Windows and Linux use the same value for the EAGAIN error code. However, most popular Unix systems define a different value for the same error. It's possible your code hasn't ran into this (it's definitely tucked into a small but important subset of possible scenarios). At any rate, I'm glad you got things working. Well done!

[2015-01-30 02:42] mndrake commented on #31
Here's a fork that is working for me for OS X. I had to create a custom ``FSharp.Charting.Gtk`` fork since I was not able to get the ``Model`` internal field exposed via reflection. I will try again later, since I would prefer to just have a ``ToPng`` method in IfSharp.Kernel instead of creating one in ``Sharp.Charting.Gtk``. Figured "get it working" then others can help with the "get it right".

[2015-01-30 10:09] cgravill commented on #31
That looks excellent. I was having some issues with panics on interacting with GTK. I'll try working from clean and your branch to see if we can get it running on Ubuntu too.

[2015-01-30 15:38] mndrake commented on #31
@cgravill I was able to get the following branch working on Ubuntu 14.04. I included the ``libzmq`` files so hopefully it will work by just restoring packages.

https://github.com/mndrake/IfSharp/tree/mono_linux

[2015-01-31 16:41] mndrake commented on #33
I was wondering if trying to use one of the d3.js wrapper libraries for visualizations might be a better cross platform solution instead of FSharp.Charting(.Gtk)? I'm thinking something similar to what [rCharts](http://rcharts.io) does for R and [Shiny](http://shiny.rstudio.com). What it does is render the html & js scripts via templates. I know that you can render html, can you do the same with j

[2015-02-01 00:20] mndrake commented on #33
I guess HTML is HTML. I just embedded the required ``.js`` libraries and used the ``Util.HTML`` method. It would be some work to create an API similar to ``FSharp.Charting``, but it could be worth it.

http://nbviewer.ipython.org/gist/mndrake/1c5dc0255e93172749af

[2015-02-03 12:34] mndrake commented on #33
I've started on a proof of concept library if anyone is interested. [NVD3.Charting](https://github.com/mndrake/NVD3.Charting)

Basic Example
--------------------
http://nbviewer.ipython.org/gist/mndrake/dbaccaf10ab71f57af3b

[2015-02-07 03:34] mndrake commented on #33
@prosconi Here you go :)

A little rough around the edges still, but could be the start of a cross-platform charting solution. Hope you're ok with the chosen namespace. I'm not one for creative naming.

I switched to using [MetricsGraphics.js](http://metricsgraphicsjs.org) due to the ease of implementation.

[Example Notebook](http://nbviewer.ipython.org/github/mndrake/IfSharp.Charting/blob/master

[2015-04-06 18:06] mndrake opened #35 "Jupyter / IPython 3.0 version"
For Anaconda the latest version of IPython is 3.0.  I tried using IfSharp and was sucessful in getting cells to evaluate with the IfSharp kernel, but intellisense/code completion does not work. I do not know how much work it is to get this project upgraded, but thought I should submit a placeholder issue.

Dave

[2015-05-12 03:38] fierval opened #37 ""dict" not working"
I believe this is because "dict" is defined as one of the types in IF# and masks the actual keyword:

let alphabet = dict [('A', 0); ('C', 1); ('G', 2); ('T', 3)]

returns:

error FS0041: No overloads match for method 'Dictionary`2'. The available overloads are shown below (or in the Error List window).
Possible overload: 'Collections.Generic.Dictionary(capacity: int) : unit'. Type constraint mism

[2015-05-26 12:56] rgbkrk commented on #35
:+1:

[2015-06-05 20:42] mndrake commented on #35
I was able to get fsharp to show up as a kernel option in jupyter by creating the file:
``%programdata%\jupyter\kernels\ifsharp\kernel.json``
with the content:

``{
 "display_name": "fsharp",
 "language": "fsharp",
 "argv": [
  "C:\\Program Files\\BayardRock\\IFSharp\\ifsharp.exe",
  "{connection_file}"
 ]
}``

Though when I actually try using the kernel I get:

``[C 15:09:42.641 NotebookApp] Malf

[2015-06-17 13:28] jjkane commented on #35
I have been unable to get Jupyter to recognize the F# kernel. If I use `IFSharp.exe` or `ipython notebook --profile ifsharp`, Jupyter opens; but on a new notebook "kernel dead" is marked. The only kernel on the list is "Python 3", but clicking that does nothing. The command window reads:
[code]
I tried adding a kernel.json file (per a previous comment); but that did nothing.

[2015-06-17 19:51] prosconi commented on #35
In 3.0 they changed the API spec slightly is some instances... looking into this

[2015-06-17 22:21] prosconi commented on #35
There seems to be significant changes in back-end and front-end.

I think it is best to make a new repo with 3.0+ support and keep this one around for 1.0 and 2.0.

[2015-06-18 00:47] mndrake commented on #35
@prosconi I see what you mean it appears there were multiple changes in the [5.0 messaging spec](https://ipython.org/ipython-doc/dev/development/messaging.html) that is used in Python 3.0. Do you want to open a new repo, or would starting a 3.0 branch of this repo be sufficient? Would like to help as time allows. Would be nice to have a 3.0 F# kernel that allowed switching between F#, python, and

[2015-06-18 15:29] prosconi commented on #35
Not only the backend stuff has changed, but the front-end hooks I used also have changed.

[2015-06-24 18:44] npmurphy commented on #35
Just setting a version number allows the existing kernel to work with ipython/juypter 3.1
https://github.com/BayardRock/IfSharp/pull/38

[2015-06-28 18:18] mndrake commented on #35
If anyone is interested I created a [fork](https://github.com/mndrake/IfSharp/tree/jupyter) that uses the 5.0 messaging protocol (python 3.x). There appears to be many changes to IPython that allow for more front end integration through just the kernel and the messaging protocol.

I would like to get F# working as a pure kernel without the front end hooks so I could use it on a polyglot jupyter se

[2015-06-28 18:21] mndrake commented on #35
Additional note:

I'm cheating by starting IPython with `ipython notebook --Session.key=''`. I still need to implement the HMAC signing.

[2015-06-29 03:38] #37 closed

[2015-06-29 03:38] #34 closed

[2015-06-29 03:40] prosconi commented on #35
@mndrake Have you seen this: http://tahahachana.github.io/XPlot/ ?

[2015-06-29 03:43] #24 closed

[2015-06-29 03:46] prosconi opened #41 "Use Net MQ for compatibility with Linux / Mono"
The current solution for zmq is to use fszmq which uses native binaries. Net MQ is a pure .NET implementation of zmq.

[2015-06-29 12:35] pblasucci commented on #41
For what it's worth, I'm not sure what switching to NetMQ saves you. The native binaries required by fszmq are the same ones required by PyZmq. So they'll need to be present anyway.

[2015-06-29 13:14] mndrake commented on #35
@prosconi I have seen that library in the past. I'll take a look at it again though. That library uses google plots and plot.ly. For work I cannot use anything that uses plot.ly since you are sending your data to plot.ly and their service is rendering the result. I believe that the google api might be similar.

There are also js libraries that have restrictions around commercial use like highchart

[2015-06-29 16:12] mndrake commented on #41
@pblasucci The issues that I've had in the past with zmq have been with the path resolution of the zmq  (dll/so/dylib) that mono uses which is different on Windows versus OS X versus Linux (http://www.mono-project.com/docs/advanced/pinvoke/). If using Anaconda I've never had issues with the PyZmq - zmq resolution, it's just the .Net/Mono - zmq resolution that can be frustrating across platforms. I

[2015-06-29 17:10] #32 closed

[2015-06-29 17:39] pblasucci commented on #41
@mndrake I understand the grief cross-platform path resolution can cause. Fortunately, the information on the page you listed appears to be out-of-date. Recent versions of Mono (at least on OS X) exhibit the same behavior as .NET does on Windows. Specifically, the easiest set up is:

+ put the native `.dll` in the local `bin`

or, failing that

+ put libzmq in a location which is part of the `PATH

[2015-06-30 13:59] mndrake commented on #41
Path resolution in OS X is actually where I had the problem last year. Windows and Linux would search the local bin folder first, but OS X would ignore. If this is no longer the case it sounds like the required libzmq.(so/dylib/dll) could just be included in the bin folder (like it is currently for Windows/.NET)? ZMQ is only being used for 3-4 methods and client only, are there advantages for usin

[2015-06-30 15:03] pblasucci commented on #41
Yeah, the change on OS X (to look in the local bin) happened near the end of 2014 (sometime around version 3.10.0 of Mono. And it wasn't publicized... I found it totally by accident.   :-)

As for conditional compilation, I try to avoid it as much as possible (outside of `.fsx` files). However, it's sometimes necessary.

With respect to project files, I've found MSBuild (or more likely Visual Stud

[2015-07-02 18:43] npmurphy commented on #35
@mndrake In case it is useful the HMAC signing might look something like this https://github.com/npmurphy/IfSharp/commit/b7ced9a4b77ae5abea9dd630a19de92c3e70a4e3
Since the kernel works without a key I didn't pursue it.

[2015-07-05 23:13] simra commented on #35
Do I need to do anything special when building the fork, to point at NetMQ? I checked out the fork, built it, and updated configs, but the kernel continues to crash trying to load libzmq:
[code]

[2015-07-05 23:51] mndrake commented on #35
@simra Based on the error message it appears that you built the main branch and not the jupyter branch I linked above.

[2015-07-06 13:17] simra commented on #35
Thanks, my mistake.  After building the right branch I run into a different exception which I've isolated to FSharp.Compiler.Service loading fsi.exe.  I've documented the issue [here](https://github.com/fsharp/FSharp.Compiler.Service/issues/364).

[2015-07-07 00:20] mndrake commented on #35
I believe that this page (https://fsharp.github.io/FSharp.Compiler.Service/corelib.html) describes the issue. I combined the F#/C# projects in the main project into a single F# command line app and didn't bring over the FSI.exe, FSharp.Core.sigdata/optdata that were in the original project. It worked just fine when I compiled and ran on OS X & Linux. I foolishly made the assumption that if it work

[2015-07-07 10:43] mndrake commented on #35
@simra I switched to the nuget FSharp.Core and included the .sigdata and .optdata files in the project similar to the master branch in the jupyter branch. I only tested on OS X, but hopefully it will now build successfully on Windows.

[2015-07-08 03:02] #41 closed

[2015-07-08 09:36] fradav commented on #35
@mndrake
- Add `<AutoGenerateBindingRedirects>true</AutoGenerateBindingRedirects>` in the project to solve conflicts between used assemblies
- 4.5 Target framework is incompatible with the Fsharp 3.1,2, has to be upgraded to 4.5.1 target at least
- there is a small bug in your D3 Chart generator for parametric curves:

`Chart.Line [ for i in 0.0 .. 0.02 .. 2.0 * Math.PI -> (sin i, cos i * sin i) ]

[2015-07-08 18:39] mndrake commented on #35
I haven't dug into the issue too much, but I'm guessing that that somewhere in the `*.js` libraries it is sorting the data. I guess it makes sense since the library (metrographics.js) appears to be primarily a time series focused library. I was able to reproduce the issue with a simple example (http://jsfiddle.net/mndrake/hk63jfg3/12/). I wonder if there is another easy to use javascript libary th

[2015-07-08 18:51] mndrake commented on #35
Maybe not ideal, but could create a scatter plot method to deal with this.

[code]

![screenshot from 2015-07-08 14 00 24](https://cloud.githubusercontent.com/assets/1476951/8579110/43ad6d4a-2578-11e5-9716-16d6ac5d85d5.png)

[2015-07-09 10:30] mndrake commented on #35
I submitted an issue about the parametric plot issue (https://github.com/mozilla/metrics-graphics/issues/460)

[2015-07-17 17:09] schmohlio opened #42 "Kernel dies when triggering auto-complete and Intellisense does not work."
Hello and thanks in advance!

I'm running Windows 8.1 Pro x64 in Parallels VM and recently installed IfSharp. It looks really great, and I'm able to execute code and generate graphs.

Issue is that Intellisense does not work, and when i hit shift + tab to trigger auto-complete, the kernel dies. Below is my log - after the 2nd `open system` is when i hit <shift>.<tab> Anyone have any ideas?

As an

[2015-07-17 17:11] schmohlio commented on #42
also I should note that IfSharp installed within my C:\Program Files dir -- not sure if that makes sense for refrences.

[2015-07-19 07:49] simra commented on #35
Everything works for me now, thanks!
Is there an easy way to get FAKE to do this step:

At a minimum it would be great to update the install doc in the branch with this info, but ideally a build generates kernel.json with the right path info.

[2015-07-19 10:57] fradav commented on #35
@simra you say everything works for you : even intellisense tooltips?

[2015-07-19 16:06] simra commented on #35
No, I didn't get that far- I was referring to my issue getting the kernel to load. Sorry for the confusion.

[2015-07-25 07:28] Quiark opened #43 "Display type of things"
Would it be possible to imlement showing the type of various parts of the code? For example the original F# interactive will display the type of anything that is not evaluated:

[code]

ghci has the command `:t expr` to print the type of `expr`. Some IDE's display the type as a tooltip (that would need support selection so that you can choose what you want evaluated for type).

Thanks :+1:

[2015-07-30 02:55] mndrake commented on #35
@npmurphy Thanks for the help with the HMAC signature. The only thing I needed to tweak was adding a function to convert to a hex string. I updated my jupyter branch if anyone wants to try it. (https://github.com/mndrake/ifsharp/tree/jupyter)

[code]

I can now launch jupyter with just `ipython notebook` and swap between R/python/F# kernels without issue (at least in OS X).

[2015-07-30 14:55] mndrake commented on #35
Most important feature yet! :laughing: I resized the F# logo so it shows up in the header when using the IfSharp kernel.

![ifsharp_logo](https://cloud.githubusercontent.com/assets/1476951/8986192/ab466752-36a0-11e5-9d13-06aae63eef0e.jpg)

[2015-08-26 08:39] haf opened #45 "Installation instructions OS X/Linux"
I tried to follow the [installation instructions](https://bayardrock.github.io/IfSharp/installation.html) but first got stuck because setup.exe isn't a cross-platform way of installation. Then when doing the manual installation, on step four, it asks me to open the iF# sln file, but there's no such file to open as a result of the previous commands. At least not one that I could find.

[2015-09-03 18:36] denfromufa opened #46 "how easy to extend IfSharp to other .NET languages?"

[2015-09-03 21:44] simra commented on #46
F# provides an interactive compilation facility (fsi.exe) that enables REPL loops.  I think the answer to your question depends on how hard it would be to create a REPL facility for, say, C#.  A quick search yields this mono project: http://www.mono-project.com/docs/tools+libraries/tools/repl/

[2015-09-03 22:05] denfromufa commented on #46
i tried using icsharp but it is not working:

https://github.com/zabirauf/icsharp/issues/5

so how easy would it be to replace fsi.exe with scriptcs.exe?

mono REPL is probably more limited than scriptcs.

[2015-09-03 23:28] denfromufa commented on #46
apparently there is F# for scriptcs:

https://github.com/scriptcs-contrib/scriptcs-fsharp

[2015-09-19 07:43] simra commented on #35
I investigated the intellisense issue.  In my case I had none of the custom .js files loading- I had to copy them to ~\.jupyter\custom
Now the custom js loads but in the process breaks the kernel loading process- I'm working on troubleshooting the js to see what's happening.

[2015-09-20 02:38] simra commented on #35
Fyi I'm tracking a set of Jupyter/Intellisense issues here: https://github.com/simra/IfSharp/issues
Happy to move them to this project if we can get a jupyter branch running.

[2015-11-23 20:41] FabHan opened #48 "How to install IF# kernel for Jupyter Notebook?"
Does IF# work with Jupyter Notebook? And how to install?

I use Linux, by the way.

[2015-11-25 16:57] cgravill commented on #35
There are some changes to the licensing of Plot.ly meaning it can run locally:
https://plot.ly/javascript/open-source-announcement/

It looks like the use of a local JavaScript is being added to XPlot currently:
https://github.com/TahaHachana/XPlot/commit/66fd9788bb1c9601e1841d82207d7302cf4b9b2d

[2015-11-27 10:20] npmurphy commented on #48
Currently, this branch works very nicely on Linux and Jupyter 4.0
https://github.com/BayardRock/IfSharp/pull/47

Once you have compiled it, run the ifsharp.exe once to set up the config files.
Then to use it run "jupyter notebook --config ~/.local/share/jupyter/kernels/ifsharp/ipython_config.py"

The paths are probably not set up properly so you have to add lines like
#I "/usr/lib/cli/FSharp.Data.

[2015-12-02 18:20] cgravill commented on #46
There's newly released csi.exe that may be helpful this:
https://www.visualstudio.com/en-us/news/vs2015-update1-vs.aspx#Csharp

Definitely makes more sense to do it in the icsharp project though.

[2015-12-09 16:02] npmurphy commented on #35
In case people dont know, this branch works in Jupyter 4.0 on Windows and Linux.
https://github.com/FilippoPolo/IfSharp

It also has intellisense working, provided you launch with `jupyter notebook --config ~/.local/share/jupyter/kernels/ifsharp/ipython_config.py`

[2015-12-16 04:25] davidshen84 opened #49 "ifsharp.exe --install got strange FileNotFoundException on Windows"
My environment is:

- Windows 7 64bit
- Up to date .Net environment

        C:\Program Files\BayardRock\IFSharp>ifsharp.exe --install

        Unhandled Exception: System.IO.FileNotFoundException: Could not find file 'C:\Pr
        ogram Files\BayardRock\IFSharp\--install'.
           at System.IO.__Error.WinIOError(Int32 errorCode, String maybeFullPath)
           at System.IO.FileStream.Init(St

[2016-01-05 21:58] dsyme opened #50 "Maintainer status?"
Hi @Rickasaurus @prosconi ,

Would you like to bring on more maintainers to this project?  I suspect we could recruit more maintainers via twitter?

Best
Don

[2016-01-06 14:24] prosconi commented on #50
I agree, I don't really have time lately to keep this up-to-date.

- Peter

[2016-01-06 14:26] dsyme commented on #50
Would you want to keep it here (is Bayard happy with a non-Bayard maintainer?) or move it to fsprojects or ...?

[2016-01-06 14:30] prosconi commented on #50
I'm fine with moving it, will confer with @Rickasaurus

[2016-01-06 21:02] prosconi commented on #50
@Rickasaurus concurs, how do we move this thing to fsprojects?

[2016-01-07 11:39] dsyme commented on #50
You should now have invitations to "fsprojects".  I think you can then just press "transfer project" under the project settings.  We can then fix up the privileges and start recruiting additional maintainers (hopefully1).  You'll need to be co-maintainers for a good while to help onboard.

Are there any other Bayard projects you'd like to move?

[2016-01-07 18:03] kevmal commented on #50
I'm currently getting FsBeaker up to date. Once I'm finished with most of the common auto-translations I'll submit a PR. Perhaps another candidate for fsprojects?

[2016-01-08 18:12] prosconi commented on #50
@kevmal I agree, FsBeaker is a good candidate also

[2016-01-08 18:17] prosconi commented on #50
Transferred.

[2016-01-12 14:55] dsyme commented on #50
I've added @prosconi and @Rickasaurus as owners.

I've also added @cgravill who is willing to be a repo facilitator too.

[2016-02-01 18:28] cgravill commented on #50
Thanks for migrating the project and all your work so far - it's been really useful having F# support in the notebook system.

I've opened a branch for Jupyter support as that seems like the major issue currently. There's a pull request from @FilippoPolo #51 adds support for Jupyter and several other features. I can see from the other forks that people have added useful features as well - @mndrake

[2016-02-01 19:02] simra commented on #50
Great to see all the progress with Jupyter and FSProjects.  I don't think my changes add anything beyond what @FilippoPolo has contributed.  I'll likely set up a new fork integrating his PR and work from there, and I'll circle back if I have anything to add.

[2016-02-02 15:27] ndalchau opened #52 "Compulsory reference to (old version of) FSharp.Charting blocks reference of newer versions"
I've been using Jupyter/Ifsharp in combination with FSharp.Charting (FSC) a lot recently. To make use of the newest features of FSC (histograms and bug fixes in my case), I've been building FSC locally. Annoyingly, in order to reference my local FSC build in a notebook, I've had to forcibly remove the existing compulsory reference to v0.9 of FSC in Ifsharp. Without doing this, it seems that the co

[2016-02-02 16:14] npmurphy commented on #52
That sounds like a sensible thing to do, the old version of FSCharting does not work on Linux.

Can the code to turn the charts into PNGs from Util.fs
https://github.com/fsprojects/IfSharp/blob/master/src/IfSharp.Kernel/Util.fs#L74
be pulled out into an `load_fscharting.fsx` script that is already in the default path?

So to use FSCharting one would run
[code]
And then proceed as before?

[2016-02-03 10:49] cgravill commented on #52
I agree, while it’s convenient having a version of FSC/F# Charting automatically referenced, it’s important to allow users to control the version they use.

I’ve seen some of the notebooks @ndalchau and @npmurphy have made. While they can manually remove the references, when they share notebooks with others, it leads to confusing problems.

Now with the NuGet support (and perhaps we could add Pake

[2016-02-03 11:05] tpetricek commented on #52
It would be great to add `XPlot.PlotLy` integration to: http://tahahachana.github.io/XPlot/

Plotly produces nice HTML5 charts and (unlike google charts), it is a standalone JS library (no sending of data to any server). Google Charts are nice too - when you don't mind sending data to Google.

Unlike F# Charting, they also work cross-platform - so it's getting closer to running IFSharp in some sor

[2016-02-03 15:09] prosconi commented on #52
@tpetricek One problem with having HTML5 charts is including the JS library. AFAIK there is no mechanism for easily including external JS libraries when viewing / sharing notebooks.

@npmurphy You would also have to register a display printer like so: https://github.com/fsprojects/IfSharp/blob/master/src/IfSharp.Kernel/Printers.fs#L38-L46

I'm torn between including F# Charting and taking it out.

[2016-02-03 17:08] cgravill commented on #52
@tpetricek we actually have a working integration to XPlot by @npmurphy on our local version. The original version was done as changes to XPlot but he has a newer version that can be done solely in IfSharp.

As a teaser graphic:
![xplot](https://cloud.githubusercontent.com/assets/1099725/12789938/d4e35bc0-ca97-11e5-8de5-5f2b9735c089.png)

He's got it all working on Linux too and been providing PRs

[2016-02-03 20:36] isaacabraham commented on #52
@tpetricek doesn't Plotly force you to sign up for an account and put your charts in a dashboard or such - and then rate limit you? Or has that changed now?

[2016-02-03 22:55] Rickasaurus commented on #52
At least for Bayard Rock internal stuff, it would be very nice to have a
place to list automatically loaded packages as a compromise solution. It
would be ok to reference an external script, but the downside there is no
#N support.

Richard Minerich
Microsoft MVP (F#)
@Rickasaurus
richard.minerich@gmail.com
phone: 860-922-3456

On Wed, Feb 3, 2016 at 3:36 PM, Isaac Abraham <notifications@github.co

[2016-02-03 22:55] Rickasaurus commented on #52
Also that XPlot stuff looks awesome. I hope it's released soon.

Richard Minerich
Microsoft MVP (F#)
@Rickasaurus
richard.minerich@gmail.com
phone: 860-922-3456

On Wed, Feb 3, 2016 at 5:54 PM, Richard Minerich <richard.minerich@gmail.com

[2016-02-03 22:57] Rickasaurus commented on #52
Perhaps we could have a standard way to let nuget packages expose pretty
printing? Like an ifsharp.fsx file that would be automatically loaded when
the package is referenced?

Richard Minerich
Microsoft MVP (F#)
@Rickasaurus
richard.minerich@gmail.com
phone: 860-922-3456

On Wed, Feb 3, 2016 at 5:55 PM, Richard Minerich <richard.minerich@gmail.com

[2016-02-03 23:44] tpetricek commented on #52
@isaacabraham Not in the latest version

[2016-02-17 21:03] simra commented on #49
Try running ifsharp.exe on its own (no --install argument).  According to the current code installation is triggered when there are no arguments or when there is no existing setup.

[2016-03-01 16:42] ndalchau opened #53 "Problems with Include.fsx using Jupyter 4.1"
I recently reimaged my machine, with only VS2015 installed (no VS2013). I found a workaround to get Ifsharp working, by changing App.config to use the latest MSBuild.

There is a problem with the automatic running of Include.fsx, which produces error messages in my log file:
[code]
I was able to workaround this by commenting out the TypeProvider.dll reference in Include.fsx.

This raises the quest

[2016-03-16 15:42] npmurphy commented on #53
Commenting out the reference to the bundled TypeProvider.dll reference in Include.fsx makes ifsharp work with mono 4.2.2, F# 4.0.

Using Paket to get appropriate dlls for the system at installation time seems like reasonable way forward.

[2016-03-22 11:47] cgravill commented on #53
I'm happy to remove these references if it's convenient to get them by Nuget (or Paket).
@npmurphy do you have a working solution you can share with "#load fscharting.fsx" for the helper functions in IfSharp?

[2016-04-04 20:18] Rickasaurus opened #54 "Create Binary Release with Jupyter Support"
Seeing as how we have Jupyer support now (https://github.com/fsprojects/IfSharp/pull/51) it seems like we're due for a binary release. Is there anything standing in the way of this?

[2016-04-05 01:29] dsyme commented on #54
:+1:

[2016-04-05 19:38] Rickasaurus commented on #54
I talked to @prosconi and he says it should be as easy as running InnoSetup to generate an executable. I'd still like to make sure there's no major outstanding issues though.

[2016-04-06 08:48] cgravill commented on #53
For reference, the change required to app.config is:

[code]

I'm not sure the best way to do this AND support Visual Studio 2013.

[2016-04-06 08:59] cgravill opened #55 "Restart behaviour Jupyter 4.1"
There is new functionality around restarting kernels in Jupyter 4.1 (http://blog.jupyter.org/2016/01/08/notebook-4-1-release/#restartkernelandrunall). This isn't working cleanly with IfSharp.

1.	Start a new kernel
2.	Write some F# code
3.	Trigger a restart
4.	(nothing apparently happens… wait a few seconds)
5.	Jupyter detects dead kernel and offers to restart
6.	Actually restarts
7.	Write some mo

[2016-04-06 09:14] cgravill commented on #54
A binary release would be great to do. There are some outstanding issues from changes to the environment.

Jupyter 4.1 starts to bring in some protocol changes which seem to create issues with restarting #55 and spurious warnings. Also, more people are likely to have VS2015 only and therefore experience MSBuild issues on #53 and the problems around compulsory references #52, particularly on Linux.

[2016-04-06 20:16] Rickasaurus commented on #54
Thanks @cgravill. Do you think moving to nuget for the F# core and stuff in order to standardize on a version would be the way to go?

[2016-04-09 07:18] FilippoPolo commented on #54
For reference, the issue @cgravill is talking about is jupyter/notebook#1281.

[2016-04-09 09:02] cgravill commented on #53
I've done ahead and commented `#r "FSharp.Data.TypeProviders.dll"` in Include.fsx to get away from this problem. It can be added via `NuGet #N "FSharp.Data.TypeProviders"` within a given notebook which is still fairly convenient.

[2016-04-25 14:45] luminescent opened #62 "Proposal: Dockerfile for Jupyter - Linux"
Hello

Let me start by saying thank you for the wonderful effort put into building the F#  kernel for Jupyter, it is a great and useful piece of work, especially on Linux where the tooling around this language is not as well developed as on Windows.

In my efforts to streamline my work I built a Dockerfile for getting started immediately with Jupyter F#. It is based on Anaconda3 and accepts connec

[2016-04-27 20:18] jaredtkatz opened #63 "no mouse-over type signatures"
### Description

I don't see any examples of mouse-over type signatures in the README or Feature Notebook, so I'm not sure if I screwed up the installation or if they are not implemented.

### Repro steps

Please provide the steps required to reproduce the problem

1. Clean install of IFSharp on Windows 10

2. Mouse-over assigned value

### Expected behavior

I expect to see a tooltip pop-up with

[2016-05-05 18:47] cgravill commented on #62
That sounds like a really useful thing to have available. Much easier for people to install in a no impact fashion.

I haven't authored any docker containers myself so I don't know about expectations on updates. It would be great if people are able to update their IfSharp without having to clean their Docker cache.

Presumably it's pretty big with a full Anaconda3 install?

[2016-05-05 18:51] cgravill commented on #63
I don't think this has been implemented so far. There is completion.

Someone could implement such a system, potentially using something like https://github.com/tpetricek/FSharp.Formatting

[2016-05-05 18:55] cgravill commented on #53
As part of #61 I've upgraded the F# Compiler Service which seems to address MSBuild mismatch above.

[2016-05-06 09:45] luminescent commented on #62
Hi

Great :). I now have a version that's based on a mono image with python added and then Jupyter installed via pip install; it does not have any of the extra goodies Anaconda brings in, so it's smaller (though Python by itself alone is quite sizable). I am working on another one based on Alpine, which will be even smaller - might have something working around next week (Alpine is experimental, b

[2016-05-06 13:10] cgravill commented on #55
This has been resolved by #64

[2016-05-06 13:10] #55 closed

[2016-05-06 13:13] cgravill commented on #53
The issues here have now been resolved by a combination of #61 #64. IfSharp should now start cleanly even with only recent Visual Studio installs (and on other platforms too).

It seems like moving more dlls out as @npmurphy suggests will make it more flexible for users as well.

[2016-05-06 13:13] #53 closed

[2016-05-06 15:50] jaredtkatz commented on #63
Does anyone know if there's an easy way to determine the type sig of a function without the mouse-over feature? Is there a higher order function that can return the type sig?

[2016-05-06 18:28] cgravill commented on #63
If you just want the type signatures and are willing to alter the source of IfSharp you can dump the FSI output.

Add:`pyout (sbOut.ToString())`

just after:

[code]

and comment out

[code]

Adding an option to return this could be useful more generally.

Demo:
![image](https://cloud.githubusercontent.com/assets/1099725/15082611/8edc8f4e-13c0-11e6-8933-c77126fda366.png)

[2016-05-06 18:32] cgravill commented on #63
Similar feature request in #43

[2016-05-07 15:05] luminescent commented on #62
Took a second look at things and looks like we need a release to go around the caching thing.

Is it possible to make a release out of the jupyter branch? I could do it or help with testing if someone walks me through how it's done.

Thank you.

[2016-05-09 23:02] Rickasaurus commented on #63
Perhaps this could be done in a similar way to FSI pragmas? For example #typeinfo to toggle that.

[2016-05-12 09:22] cgravill commented on #62
We should be able to do an alpha release. I've not done a release before but will look into it. There's a related request for installers which we may have a reached stable enough point with Jupyter for.

Thanks for the progress so far, it's looking promising.

[2016-05-12 09:34] cgravill commented on #63
A toggle for detailed information makes sense to me. I was thinking something equivalent to #time ["on"|"off"] would be useful.

@Rickasaurus do you know what the reasoning behind:
[code]
It seemed a bit strange if you #N a nuget and later in the cell have an expression then it only gives the #N outputs. I thought about removing the check but wondering if it's dealing with other issues?

[2016-05-13 18:04] prosconi commented on #63
@cgravill as far as I can tell the "data" variable was previously being used to queue up things to send to the client and then send them. I am pretty sure it can be removed altogether

[2016-05-13 18:58] jonschoning opened #66 "build.sh fails on linux (mono/xbuild)"
[code]

[2016-05-13 20:25] npmurphy commented on #66
This is just the tests failing, the fix is in  PR #67.
You probably want to look at the `jupyter` branch for the latest stuff.

@cgravill I think it is time to make the jupyter branch master.

[2016-05-13 20:27] #66 closed

[2016-05-14 09:33] cgravill commented on #63
Thanks for the clarification. I'll try removing "data" and see if anything bad happens.

[2016-05-26 09:19] cgravill commented on #62
I've created a test release here:
https://github.com/fsprojects/IfSharp/releases/tag/v3.0.0-alpha1

I did a build on Windows and included that. For Docker do you need binaries or source code then build yourself?

Let me know how it goes and if any changes would help.

[2016-05-26 15:17] luminescent commented on #62
Thank you, great news. I'm going to give it a go with the binaries, the ones built on Windows should work fine. I'll reply how it went in a bit.

[2016-05-31 10:10] npmurphy opened #68 "NetMQ version upgrade breaks on Linux/Mono"
Since the upgrade from NetMQ 3.0.11 to 3.3.2, Jupyter cannot connect or send commands to IfSharp kernel on Mono 4.4.

In the file "Kernel.fs" the debugger seems to lose the connection in
the `socket.ReceiveMultipartBytes()` function.
It runs the line  `let recvAll (socket: NetMQSocket) = socket.ReceiveMultipartBytes()` twice and then the process stops talking with the debugger.
I added some printf

[2016-05-31 11:59] cgravill commented on #68
Where is the Mono version sourced from? It says stable but to my understanding 4.4.* isn't released yet:

"The latest Mono release is: 4.2 SR2 (4.2.3.4)"
http://www.mono-project.com/download/

[2016-05-31 12:15] luminescent commented on #62
Hi

I have added the Docker file and updated the readme file on my fork (it's currently for the jupyter branch only). The readme details how to build and run the container. Internally the binaries from the release are used.
How should I proceed, do I submit a PR for adding the Docker file to the repository?
At some point I will look into publishing it on the [Docker hub](https://hub.docker.com/exp

[2016-05-31 12:46] npmurphy commented on #68
You are right, downgrading to 4.2 fixes it.
Sorry, I forgot that I had switched to a beta channel.

[2016-05-31 12:46] #68 closed

[2016-05-31 13:46] cgravill opened #70 "Installing kernels to wrong location on Mac"
### Description

We're installing the F# kernel to the wrong location for Mac. The root cause is that:

`Environment.OSVersion.Platform`

does not return `Platform.MacOSX` in the current version of Mono. Background to this:
http://mono.1490590.n4.nabble.com/Why-does-Environment-OSVersion-Platform-report-PlatformID-Unix-on-OS-X-td4038093.html

We'll need to perform the platform check in a different

[2016-05-31 15:38] cgravill commented on #70
Fixed

[2016-05-31 15:38] #70 closed

[2016-05-31 15:43] cgravill commented on #54
Filippo has fixed the restart behaviour #64
I've sorted out the MSBuild issue by changes to F# complier services.
We're still working on the #65 for the dependencies.

As a test I've created a zip based binary release: https://github.com/fsprojects/IfSharp/releases which works cross-platform. Creating more friendly and automated installers seems like a good idea too, especially as we finish up.

[2016-05-31 19:15] flotrek opened #71 "Timeout waiting for kernel - Linux"
Hello,

Trying to run the last version of the Jupyter branch on Linux (amazon linux).
Tried both the v3 alpha binaries and built the last source code version.
The kernel won't work at all.

 [I 19:08:36.548 NotebookApp] Kernel started: be59d74b-c0ed-4190-9af3-990f1eb783cb
[W 19:08:46.623 NotebookApp] Timeout waiting for kernel_info reply from be59d74b-c0ed-4190-9af3-990f1eb783cb

This version woul

[2016-05-31 21:59] cgravill commented on #71
Hi, do you happen to be running the prerelease 4.4 Mono? I ask because Filippo recently put in a fix of downgrading NetMQ to 3.3.0.11. We think there's a problem between the Mono and the later version of NetMQ.

[2016-06-01 00:24] flotrek commented on #71
Hi,
I'm running Mono JIT compiler version 4.2.3 (Stable 4.2.3.4/832de4b).
Actually, it's not working perfectly for me even with the other fork : no intellisense, typing open System. (dot) then pressing tab would stuck the kernel, #N "Needle" would get me "NuGet error: Unable to find package 'Deedle'."

My js console is fine except with two .map file not found.
Any idea where I should start looking

[2016-06-01 02:06] flotrek commented on #71
I also just tried the docker image from Luminescent : https://github.com/luminescent/docker_images/tree/master/jupyter_ifsharp

I got the same Timeout. Could it be related to the host ? (Amazon EC2)

[2016-06-01 08:47] npmurphy commented on #71
Could you give us some more information about your set up?
What Linux distribution and version? What Python, Jupyter versions?
Are there any errors in the "shell.log" file in the directory where you launched the Jupyter server?
Can you use the ipython kernel successfully?

Are you trying to connect to a remote headless Jupyter/IfSharp system on AWS?
A thing I would forget to do is to [open the por

[2016-06-02 00:28] flotrek commented on #71
Python 3.5.1 :: Anaconda 4.0.0 (64-bit)
Jupiter 4.1.0
Linux - Amazon Linux AMI release 2016.03
IPython kernel works flawlessly with autocompletion etc..

No error in shell.log, it seems like the kernel is somehow starting but still that Timeout message and F# kernel not giving feedback (In [*] : open System).

shell.log after I open an IfSharp notebook and try to run "open System".

--> 2016-06-02

[2016-06-06 10:43] cgravill commented on #62
It definitely makes sense to merge in the instructions for using the dockerfile. I haven't used Docker much so happy to be guided by you and we can see how it goes. I have the Windows and OS X Docker beta tools installed now so I'm happy to test if that would help?

Would the script do the build of IfSharp then build the docker image from that?

[2016-06-06 10:50] cgravill commented on #71
Are you able to test with the same image locally? I wonder if there's something special about AWS. I'm not aware of anyone who has tried running on AWS yet but we'd very much like to support running there.

We might be doing something a bit different with ZeroMQ than IPython. Happy to make changes but need to track down what's happening.

[2016-06-06 15:17] luminescent commented on #62
Sure; I think the easiest is to pull my fork, checkout the jupyter branch, then follow the instructions from the readme - this way we can also check if they're good enough. If you encounter issues I'll update the readme and the file accordingly. If all goes smoothly, I've submitted the PR with the changes and you could merge it in.

Since you're on OS X you'll have to use the IP address of the doc

[2016-06-16 04:02] fusi123 opened #76 "IfSharp Kernel will not start correctly in Jupyter"
### Description

Unable to use the IFSharp kernel in Jupyter notebook. When choosing a IFSharp notebook the window opens but the kernel does not start successfully.

### Repro steps

Open a new IFSharp notebook.
IfSharpConsole immediately crashes. Attached file is shown in console window.
[ifsharperr.txt](https://github.com/fsprojects/IfSharp/files/317660/ifsharperr.txt)

### Related information

[2016-06-16 09:19] cgravill commented on #76
It looks like there is a problem starting the fsi instance that we use to process F# code.

Does the machine have an installation of Visual Studio on it? If so is it able to start an F# interactive window successfully?

[2016-06-16 23:09] fusi123 commented on #76
I have 2012 Premium installed. I can open F# interactive without any issues inside VS.

[2016-06-17 19:38] mattroid opened #77 "NuGet 2.8.6"
### Description

I'm trying to get my own nuget packages to work. They use the immutable libraries that require NuGet 2.8.6.

I see the NuGet.dll in the bin for IFSharp with version 2.8.1 but I can't find a compatible Nuget.dll with version 2.8.6 anywhere to drop in. Where did you get the original? and can we update please?

[2016-06-21 09:09] cgravill commented on #77
I wasn't the one who originally added this functionality. I took a look a while back and my working hypothesis is that it's actually NuGet.CommandLine

As a test I downloaded https://www.nuget.org/packages/NuGet.CommandLine/2.8.6 then directly referenced the NuGet.exe to replace NuGet.dll. This compiles, which is promising.

However, the kernel fails at runtime. The issue seems to be a 32bit/64bit

[2016-07-06 14:13] cgravill opened #78 "Static resources not being served with current Jupyter (intellisense, logo)"
### Description

Intellisense is not working and the top left logo is not shown on current Jupyter branch with the latest release of Jupyter (installed with Anaconda).

### Known workarounds

(on windows):
Copy from:
`%AppData%\Roaming\jupyter\kernels\ifsharp`
to:
`%AppData%\Local\Continuum\Anaconda3\Lib\site-packages\notebook\static\custom`

### Investigation

Note that logo-64x64.png stored in `

[2016-07-08 10:54] cgravill commented on #78
This seems to have been caused by progressive updates. Removing Anaconda and the kernel configuration then doing a fresh install cleared everything up.

[2016-07-08 10:54] #78 closed

[2016-07-14 15:04] cgravill commented on #78
Extra note, the root issue is that launching via "jupyter notebook" doesn't apply the configuration ipython_config.py so the files for intellisense and that logo aren't served.

[2016-07-16 00:47] Rickasaurus commented on #76
It sounds like a pathing issue. Could try try installing the latest redist? https://www.microsoft.com/en-us/download/details.aspx?id=48179

[2016-07-19 11:50] sihel opened #79 "IFSharp seems working in x86 mode"
### Description

I installed the latest version and tried to launch the simpliest code which demands using an external library.
The problem is that this library works perfectly in x64 mode only. So, in IFSharp I am experiencing the same problem as in F# Interactive in x86 mode.
When I met it in F# Interactive I figured out that the only problem is x86 mode and if I change it in VS settings, everyt

[2016-07-19 15:47] cgravill commented on #79
Generally IfSharp is running in 64bit/x64 mode. The documentation actually suggests it only works in x64. I tried installing from the IfSharp.v3.0.0-alpha1.zip and direct from source. Then with a test notebook and the snippet `System.IntPtr.Size` it gave 8. Do you get the same?

There might be other issues, the fsi process in IfSharp is doing a few things to let us capture output. What error do yo

[2016-07-19 16:27] sihel commented on #79
It is strange, but I really see 4 instead of 8. So I guess I launched it in x86 mode somehow. How could I change it?

What about my library, it is just an internal error about incomparable formats. As I mentioned, this errors occur when I try to use the library in x86 mode.

[2016-07-19 16:36] cgravill commented on #79
That's curious! How are you running it? Direct from source control or the zip download?

Are you running a 32bit or 64bit version of Python?

Mine:
[code]

[2016-07-20 12:41] sihel commented on #79
I downloaded zip (IfSharp.v3.0.0-alpha1.zip) and installed by launching ifsharp.exe (as I remmember).

But the difference is that I did not install Anaconda before IPython. Could it be crucial?
My Python version is:

[code]

[2016-07-21 15:09] cgravill commented on #79
I'm not sure. I don't actually know how to make IfSharp work in 32bit mode - it's compiled entirely for 64bit throughout!

To check I ran the corflags.exe tool on ifsharp.exe

[code]

neither of the 32bit flags are set to 0 (true) so it ought not to run as 32bit. I don't get how yours is!

You do have a fairly old version of Python, perhaps there's a old version IPython/Jupyter that forces 32bit p

[2016-07-21 15:14] cgravill commented on #63
I've merged in the change to the Jupyter branch so you can toggle in FSI output like this:

[code]

Any opinions if this is sufficient or we'd still want mouse hovering?

[2016-07-21 15:19] cgravill commented on #43
I've merged in the change to the Jupyter branch so you can toggle in FSI output like this:

[code]

no types, but you can then:

[code]

then

[code]

Hope this helps!

[2016-07-21 15:19] #43 closed

[2016-07-21 15:21] cgravill commented on #48
@npmurphy added documentation on the Jupyter branch here: https://github.com/fsprojects/IfSharp/tree/jupyter

I'm going to go ahead and close this, please do raise any issues you have with this or improvements to the documentation.

[2016-07-21 15:21] #48 closed

[2016-07-21 15:22] cgravill commented on #45
We've added additional install instructions for Mac and Linux on the Jupyter branch. Please do try those out and raise any issues you experience.

[2016-07-21 15:22] #45 closed

[2016-07-21 15:22] #46 closed

[2016-07-21 15:24] cgravill commented on #31
I think these issues have been combined and resolved in the Jupyter branch. I'll close this but feel free to open another focused issue if there are remaining issues with the Jupyter branch.

[2016-07-21 15:24] #31 closed

[2016-08-04 20:03] Rickasaurus commented on #79
If I remember right, I think we made the original version 64-bit only to simplify the zmq dependency.

[2016-08-04 20:05] Rickasaurus commented on #63
Of course hovering would be awesome! I'm not sure what levers are available in Jupyter to do that though.

[2016-08-05 10:52] cgravill commented on #79
@Rickasaurus sounds reasonable, and I'm fine with continuing to mandate 64-bit for simplicity.

Do you have any idea how it's managing to run in 32-bit? I would have guessed that's impossible, short of modifying ifsharp.exe, but the pointer size test above seems to confirm it's running 32-bit.

[2016-08-05 10:56] cgravill commented on #49
We've made several improvements to the install process. Please do try without the argument. There are are additional instructions on the Jupyter branch:
https://github.com/fsprojects/IfSharp/tree/jupyter

If there are still issues feel free to re-open.

[2016-08-05 10:56] #49 closed

[2016-08-05 10:58] cgravill commented on #42
Hi, we've made several improvements to the install process and resilience of loading intellisense. If you get a chance please try the latest on the Jupyter branch:
https://github.com/fsprojects/IfSharp/tree/jupyter

There are also instructions for running on Mac and Linux now if that's a more familiar environment.

If it's still giving issues reopen and let us know.

[2016-08-05 10:58] #42 closed

[2016-08-12 22:40] mattroid commented on #77
I added NuGet.exe 2.8.6 to the references in the Kernal project and it builds fine. I can import Newtonsoft.Json, Yay it works! But... I'm trying to change the sources of the nuget repo and it doesn't appear to be using the ifsharp.exe.config?

I add my repo url to the ifsharp.exe.config, the %home%/.nuget/NuGet.config, the %AppData%/NuGet/NuGet.config. Still can't find my custom packages.

I trie

[2016-08-22 17:26] mattroid opened #81 "How do I output to the ipython console from ifsharp source."
I'm trying to change the sources of the nuget repo and it doesn't appear to be using the ifsharp.exe.config?

I add my repo url to the ifsharp.exe.config, the %home%/.nuget/NuGet.config, the %AppData%/NuGet/NuGet.config. Still can't find my custom packages.

I tried to output the source on NugetManager.fs:161 but it doesn't show in the output of the running ipyhon.exe.
I tried Console.Writeline
I

[2016-08-29 11:01] cgravill commented on #81
The console you're seeing is from the Python process running Jupyter. I don't think we've writing to that anywhere yet.

What's been done elsewhere is writing to a shell.log file. There's a function in kernel.fs that does this: `let logMessage (msg : string)`.

If you want something quick, you copy that into NugetManager.fs. We might want to move this logging functionality higher in the compilatio

[2016-08-29 11:04] cgravill commented on #81
Related it's actually possible to attach a debugger if that helps. Jupyter "back launches" the ifsharp.exe process but you can then use Visual Studio to "debug > Attach to process..."

[2016-08-29 11:21] cgravill commented on #77
I had a look at the code we use to install Nuget and we create a CustomInstallCommand:

[code]

Where that inherits from `NuGet.Commands.InstallCommand`

I think this corresponds to: https://docs.nuget.org/consume/command-line-reference#install-command

Where we could either set the Sources of the ConfigFile.

[2016-08-29 11:43] cgravill commented on #81
Actually, I've found that console output does pass through for me e.g.

[code]
results in this:

![image](https://cloud.githubusercontent.com/assets/1099725/18050363/0d297ee6-6de6-11e6-9118-724d00e84768.png)

Are you sure you've got the IFSharp.exe rebuilt and running?

[2016-09-01 11:31] cgravill commented on #62
I've just updated the docker file to the alpha2 release (has some stability fixes) and wanted to test this out. I tried running the build command, which ran to completion (with plenty of red), then was able to launch the docker container

[code]

It comes up fine and I'm able to connect and even create notebooks. However, the F# hangs on sending a command. I tried with the Python as a reference te

[2016-09-01 11:45] luminescent commented on #62
Hi Colin

This should not happen... I will take a look ASAP. Theoretically you will
have the same issues if you launch it in Docker on Windows.

Just to clarify, you can create F# notebooks, but you cannot run a cell,
can you? I.e., once you press the "run cell" button, it never terminates?

Thank you.

On Thu, Sep 1, 2016 at 12:31 PM, Colin Gravill <notifications@github.com>
wrote:

[2016-09-01 12:13] cgravill commented on #62
Thanks, much appreciated. It might be specific to my set-up but it would be great to have a confirmation how it's behaving for you.

Yes, exactly, I can create F# notebooks (and Python notebooks). When I do a "run cell" on an F# notebook it stars the cell indicating a computation is in progress but never completes.

I'm guessing the Python notebook failure may be helpful in diagnosing what's wrong

[2016-09-07 10:16] cgravill commented on #52
With @npmurphy we've removed the compulsory reference FSharp.Charting with pull request #65

We've done this by a switch to installing dependencies with Paket and then two scripts to provide the convenience functions:

[code]

This gives us support for other operating systems (thanks to @npmurphy) but also users can now update their FSharp.Charting version with Paket. For @ndalchau you could take

[2016-09-07 10:16] #52 closed

[2016-09-07 11:07] cgravill commented on #35
Lots of these fixes, suggestions, and improvements have been integrated from here into the Jupyter branch. We have intellisense working more predictably and support for the latest _Jupyter_ protocols.

I'm going to close this as I imagine that most people aren't interested in IPython 3.0 support now as it's superseded by Jupyter. For most people we have a working support for Jupyter. Please do ope

[2016-09-07 11:07] #35 closed

[2016-09-07 11:09] #29 closed

[2016-09-15 02:22] angrydexterous opened #83 "Error On Trying to Chart"
### Description

Ran latest docker repo, and ran latest from source -> following error occurs in both when running charting from the demos

### Repro steps

### Expected behavior

No Error

### Actual behavior

Error shown above

### Known workarounds

No workaround

### Related information

* Operating system - Docker image, and native Ubuntu 15.06
* Branch - latest
* Mono 4.4.2
* Performance inf

[2016-09-15 02:23] angrydexterous commented on #77
@mattroid are you going to PR with the new ref? If not I'll do it

[2016-09-15 07:43] cgravill commented on #83
Is the "latest" branch the "jupyter" branch?

We've been trying to improve charting, for both Windows and Mono on Linux and Mac. This is quite new and not documented yet but you can see some details in #65. It looks like @npmurphy was able to get charting working on Ubuntu. I think that's running native rather than under Docker.

Related, is a clean checkout building the Docker image for you? I cu

[2016-09-15 07:46] cgravill commented on #77
It would be great to get an up to date version of the NuGet dependency.

We're also looking at adding support for specifying dependencies using Paket (https://github.com/fsprojects/Paket) but have run into some issues on clean machines.

[2016-09-15 10:15] npmurphy commented on #83
The current version of FSCharting.GTK does not work "out of the box".
There are ways to get it working but I do not recommend using FSCharting.GTK unless you have the time to implement the missing parts of the library yourself. It is quite incomplete.

I recommend XPlot.Plotly for plotting instead.

If you really need FSCharting.GTK to work I can tell you some of the changes that need to be made t

[2016-09-19 10:26] moellnitz opened #85 "Seq.sortByDescending throws FS0192"
### Description

Calling `Seq.sortByDescending` from a Jupyter code cell throws FS0192.

### Repro steps

1. Create a code cell
2. Enter `[1 .. 10] |> Seq.sortByDescending(fun i -> i)` and hit `CTRL+Enter`
3. Observe the output below the cell

### Expected behavior

The expected output is:

`[10; 9; 8; 7; 6; 5; 4; 3; 2; 1]`

### Actual behavior

The actual output is:

`error FS0192: internal error

[2016-09-24 12:49] cgravill commented on #85
I think this is caused by us substituting in an earlier version of FSharp.Core.dll to attempt to maintain compatibility. The Seq.sortByDescending was implemented in F# 4.0 as part of tegularizing collections

https://github.com/fsharp/FSharpLangDesign/blob/master/FSharp-4.0/ListSeqArrayAdditions.md

We've actually switched to an F# 4.0 dll in the source code version. I've also just updated our F#

[2016-09-24 13:34] cgravill commented on #85
This was caused by the .sigdata and .optdata we were supplying not matching. I've updated these and tested on Windows 10. This should work on other platforms but will need more testing before a release.

[2016-09-25 11:29] moellnitz commented on #85
Thanks a lot. It now behaves as expected on OS X El Captain. Regression testing with a couple of notebooks also succeeded.

[2016-09-29 01:11] jonschoning opened #90 "socket exception starting kernel (Ubuntu 16.04.1, Mono 4.6.0)"
[code]

[2016-10-03 16:28] cgravill commented on #85
Thanks for the testing. We're putting together a new release so it's great to know it works well with other existing notebooks.

[2016-10-18 08:04] sylvanc commented on #28
`Build` isn't the target name in `build.fsx`. The default target is `All`.

[2016-10-18 08:04] #28 closed

[2016-10-18 08:05] sylvanc commented on #7
Closing as it's been a long time and signing doesn't seem to be on the horizon.

[2016-10-18 08:05] #7 closed

[2016-10-18 08:06] sylvanc commented on #4
Closing as this is an upstream issue.

[2016-10-18 08:06] #4 closed

[2016-10-18 08:06] sylvanc commented on #10
Closing as custom `Display` printers now work very well :)

[2016-10-18 08:06] #10 closed

[2016-10-18 08:08] sylvanc commented on #12
The `ExtensionAttribute` problem is a `FAKE` issue. Closing it here, although it's definitely a real problem.

[2016-10-18 08:08] #12 closed

[2016-10-18 08:08] sylvanc commented on #17
We've moved to `paket` in the `jupyter` branch, and away from automatic assembly resolution.

[2016-10-18 08:08] #17 closed

[2016-10-18 08:09] sylvanc commented on #33
`XPlot.Plotly` and `Angara.Chart` support for cross-platform charting has been added.

[2016-10-18 08:09] #33 closed

[2016-10-18 08:09] sylvanc commented on #50
Closing as this has moved to fsprojects.

[2016-10-18 08:09] #50 closed

[2016-10-18 08:16] sylvanc commented on #62
Closing as we now have an updated and simplified Dockerfile that builds from the repo.

[2016-10-18 08:16] #62 closed

[2016-10-18 08:18] sylvanc commented on #63
Closing as hover support doesn't appear to be available in Jupyter, and @cgravill 's `#fsioutput` gives type information.

[2016-10-18 08:18] #63 closed

[2016-10-18 08:19] sylvanc commented on #71
Closing because the issue is stale. If you have problems with the current build, please do open another issue :)

[2016-10-18 08:19] #71 closed

[2016-10-18 08:20] sylvanc commented on #76
Closing because the issue is stale. If you have problems with the current build, please do open another issue :)

[2016-10-18 08:20] #76 closed

[2016-10-18 08:21] sylvanc commented on #79
Closing as the issue is stale. If you have problems with the current build, please do open another issue :)

[2016-10-18 08:21] #79 closed

[2016-10-18 08:22] sylvanc commented on #81
Closing as the issue is stale. If you have problems with the current build, please do open another issue :)

[2016-10-18 08:22] #81 closed

[2016-10-18 08:22] sylvanc commented on #83
The current jupyter branch has cross-platform charting via `XPlot.Plotly` and `Angara.Chart`.

[2016-10-18 08:22] #83 closed

[2016-10-18 08:23] #85 closed

[2016-10-18 08:46] sylvanc commented on #90
This appears to be a Mono 4.6.* issure with NetMQ.

For reference:

https://github.com/zeromq/netmq/issues/592

https://github.com/zeromq/netmq/issues/623

[2016-10-18 09:19] cgravill commented on #77
I tracked down and resolved the issues with Paket on clean machines - an extremely old version of Json.NET - and fixed it here: b63ab00339a44afffa4dc769561971014452dab6

@sylvanc has also made several improvements to Paket #86 #91 such that it's now a great way to get dependencies!

[2016-10-18 10:47] sylvanc commented on #77
Excellent!

[2016-10-18 10:47] #77 closed

[2016-10-20 16:10] Lanayx opened #95 "Unsupported messageType: comm_info_request on document creation/opening"
I'm getting this error any time I'm creating or opening the IFSharp notebook. After restart kernel works properly, except Nuget doesn't work for any package (for example NuGet error: Unable to find package 'Newtonsoft.Json'), not sure if these two issues are connected. Windows 10, v3.0.0-alpha3

[code]

[2016-11-14 09:50] cdrnet commented on #95
Related: https://github.com/jupyter/jupyter_client/pull/34

Maybe change the issue title to "Unsupported messageType: comm_info_request"

[2016-11-15 10:27] cgravill commented on #95
I've just confirmed this error starts between Jupyter 4.1 and Jupyter 4.2

@sylvanc added support for the message with #97 which fixes the issue. I've uploaded a new pre-release: [v3.0.0-alpha4](https://github.com/fsprojects/IfSharp/releases/download/v3.0.0-alpha4/IfSharp.v3.0.0-alpha4.zip)

I updated the documentation to say we now support Jupyter 4.2 and did some minimal tests. Please do report

[2016-11-15 10:28] sylvanc commented on #95
Thanks @cgravill !

[2016-11-15 10:29] #95 closed

[2016-11-15 10:30] sylvanc commented on #90
I've submitted a Mono patch that will ship with Mono 4.8. Meanwhile, Mono 4.4 does work, but Mono 4.6 does not. I'm closing this issue here since it's a Mono bug. Thanks very much for the report!

[2016-11-15 10:30] #90 closed

[2016-11-17 16:00] cgravill commented on #54
Just to note that the various issues have now been resolved. We've been providing some alpha pre-releases binaries as zips and fixed up any issues.

We're now clear to try building automated installers as well.

[2016-11-29 17:16] vilinski opened #101 "kernel dies by creating F# notebook in the Docker"
### Description

unhandled System.Net.Sockets.SocketException by creating an F# notebook.

### Repro steps

I have tried the IfSharp for the first time. Run in the docker and can't get it to work

1.  cloned the github repo

2. Created `docker-compose.yaml` file within repository, just to simplify handling volumes, ports and proxy:
[code]

3. `docker-compose up`
4. created a new F# notebook in the

[2016-11-29 17:57] cgravill commented on #101
Which version of mono are you using? There is a networking bug in 4.6.* see #90

[2016-11-30 09:34] vilinski commented on #101
I'm using the mono version which is defined in the Dockerfile. As mentioned I have also tried mono:latest, which is 4.6.2 now. Is there any reason for not do so?
<details><summary>Dockerfile based on mono:latest</summary>

[code]

</details>

[2016-11-30 09:38] vilinski commented on #101
Oh, it seems it will be fixed in 4.8 first ...

[2016-11-30 10:45] sylvanc commented on #101
I've changed the Dockerfile to use mono 4.4 and the master branch in #102

[2016-11-30 10:46] sylvanc commented on #101
Thanks for the report, @vilinski !

[2016-11-30 10:46] #101 closed

[2016-12-02 12:40] dsyme commented on #25
I've had this issue in Azure Notebooks.  You have to press "Escape" to make the box go away

[2016-12-02 12:43] dsyme opened #103 "Consider renaming to jupyter-fsharp"
We should consider renaming this repo to fsharp-jupyter or jupyter-fsharp.

[2016-12-02 12:46] dsyme opened #104 "Async display of contents (also AsyncSeq)"
Question for @cgravill, @tpetricek @sylvanc  - is it technically feasible to have ``Async`` values display asynchronously in the Jupyter display?  I presume Javascript would have to be injected which polls the server, and that this might be a modification of the Jupyter protocol beyond the scope of iFSharp directly?

If we could do this, I would then ask whether it's possible to have ``AsyncSeq``

[2016-12-02 12:58] dsyme opened #105 "Export as F# code should include markdown"
When you choose "Export to .fs" the results should include the markdown.

Ideally we should also include instructions on how to get the necessary ``Util...`` libraries

[2016-12-02 13:36] sylvanc commented on #103
The "I" prefix dates from IPython. Some other kernels:

https://github.com/ipython/ipython
https://github.com/IRkernel/IRkernel
https://github.com/JuliaLang/IJulia.jl
https://github.com/gibiansky/IHaskell

Some are switching however:

https://github.com/ipython/ipython/wiki/IPython-kernels-for-other-languages

Particularly:

https://github.com/notablemind/jupyter-nodejs
https://github.com/fredokun

[2016-12-02 14:27] cgravill commented on #104
@tpetricek mentioned the bonus feature in #96 that you can do on-demand fetching so parts of this may now be present.

[2016-12-02 14:33] cgravill commented on #54
I made some updates to the Windows installer so it picks all the required files. One issue is that we current install to Program Files. That with the functionality to fetch dependencies with Paket from NuGet currently tries to write to the local directory. Writing to Program Files is disallowed by default.

We could configure the embedded Paket to look and write in an AppData folder but that would

[2016-12-02 14:41] OverlyExcessive opened #106 "NuGet directives will get error"
Have tried both on Azure Notebooks and running the latest docker image locally.

## Steps to reproduce

In a new cell:
`#N "Newtonsoft.Json"`

## Results

`NuGet error: Unable to find package 'Newtonsoft.Json'.`

[2016-12-02 14:55] cgravill commented on #106
I'm not sure what's wrong with the NuGet functionality (I'll look into it)

In the meantime, you can use Paket to do this:

[code]

then:
[code]

[2016-12-02 16:33] dsyme commented on #106
See also https://notebooks.azure.com/n/g2QclpAZ0P4/notebooks/fsharp-paket-template.ipynb for generating load scripts (@forki is making this easier)

[2016-12-02 16:41] cgravill commented on #106
I've just updated the documentation to use Paket, for example you can do this now:

[code]
@OverlyExcessive do you have a specific need for the NuGet client? It's implemented using a very old NuGet binary. We could try to update that and fix this in the process. There is some discussion of updating in #77 but nothing came of it so far.

Personally I'd recommend completely switching to Paket, that'

[2016-12-02 16:43] cgravill commented on #106
@dsyme I get an Access Denied on that link:

![image](https://cloud.githubusercontent.com/assets/1099725/20842141/59cef754-b8ae-11e6-8b69-54dd8ab5ea5b.png)

It might not be possible to share links like this to Azure Notebooks.

[2016-12-02 16:45] forki commented on #106
@cgravill this is really interesting. Is it also possible to reference a lock file? For production use we should not resolve packages in the script, but use a pinned resolution. This one of the major things why we created paket.

[2016-12-02 16:55] cgravill commented on #106
@forki we very much appreciate pinning, and Paket in general. I think because we're creating the .lock file then even without specifying a version we're going to be stable which makes this strictly better than the previous raw NuGet (though that could specify a version as well).

When implementing this we had a few discussions of if you should do all the dependencies externally. However, it's real

[2016-12-02 17:00] forki commented on #106
Yes. Inlining deps/references files in the notebook is awesome. If things
are pinned in the background then it's probably already fine. But I think
an optional lock file would still help a lot.

[2016-12-02 17:04] cgravill commented on #106
The lock file we install is: https://github.com/fsprojects/IfSharp/blob/4c7a387d5d38c44283a06619dc6df95e42ba1f51/src/IfSharp.Kernel/helpers/paket.lock which is now empty at install time. We previously took a more batteries included approach and installed fslab etc. Now we do it on-demand.

One thing I really like is that it's done (by @sylvanc and @npmurphy) with .fsx and intended to be user servi

[2016-12-02 17:07] sylvanc commented on #106
The current approach also allows:

[code]

It's not a .lock file, of course :) But it does allow explicit versioning. As @cgravill said, we would of course be super keen on any ideas you have to improve this.

[2016-12-02 18:32] OverlyExcessive commented on #106
@cgravill I wasn't aware that paket was included. That will work fine for me. Although it would have been nice if it would have added the references to the assemblies like the #N directive did.

[2016-12-02 18:46] cgravill commented on #106
Excellent, Paket really is a much nicer way to go about adding dependencies.

We might be able to bring back automatic references, I can see how it's useful and it's actually quite separate from how you acquire the nugets. @sylvanc what do you think about this and the #107 pull request?

It would be really nice if we could automatically figure out the ordering of dlls, that's been hassle before wi

[2016-12-02 18:56] cgravill commented on #106
Looks like @forki is way ahead on this one:
https://twitter.com/chrsteinert/status/804675768974446592

[2016-12-03 13:20] dsyme commented on #106
@cgravill @forki As an aside I'm really keen on using generated load scripts where possible.  The API is a bit clunky but the path is much better in the long term than referencing DLLs under packages directly:

e.g.
[code]

I'm not using ``Paket.Package`` yet in the notebook samples because there's an issue over which directory the packages get placed in, and whether that directory is independent

[2016-12-03 13:26] dsyme commented on #106
@cgravill Correct link is https://notebooks.azure.com/library/fsharp-templates/html/fsharp-data-usa-states-example.ipynb, thanks.  The tables don't display properly in the preview, I've told the Azure Notebooks team about that

[2016-12-03 16:26] dsyme opened #108 "Autocomplete issues"
There are some issues with the current auto-complete implementation.  One is #25 where you have to press "Esc" to make the autocomplete box go away

Other issues are
* An active auto-complete request prevents execution.  Because auto-complete requests sometime seem to take a while to be evaluated this can get in the way of work

* Pressing "." causes autocomplete to trigger in numbers such as ``10

[2016-12-03 16:27] dsyme opened #109 "Autocomplete issues"
There are some issues with the current auto-complete implementation.  One is #25 where you have to press "Esc" to make the autocomplete box go away

Other issues are
* An active auto-complete request prevents execution.  Because auto-complete requests sometime seem to take a while to be evaluated this can get in the way of work

* Pressing "." causes autocomplete to trigger in numbers such as ``10

[2016-12-03 16:27] dsyme opened #110 ""null" gets displayed for a "unit" result"
We print "null" for unit.  We should fix this.  There is a corresponding fir already in F# 4.1, we should integrate it to FSharp.Compier.Service, pick up the new release here, and make sure it's being used

[2016-12-03 16:29] dsyme opened #111 "fsi.PrintLength doesn't adjust the displayed print length"
We should consider using parameters such as ``fsi.PrintLength <- 1000`` to control the print length and depth for displayed values, e.g. [ 1 .. 10000 ].  My son told me "100 vauees is not enough, I want to see the whole lot".

Also we should consider using the floating point formats in the same object.

[2016-12-03 16:35] dsyme commented on #109
duplicate

[2016-12-03 16:35] #109 closed

[2016-12-03 16:40] dsyme opened #112 "__SOURCE_DIRECTORY__ is not unique for each notebook in a docker container"
This might be an issue specific to Azure notebooks, but as mentioned in #106, __SOURCE_DIRECTORY__ is the same ``/home/nbuser``  for each notebook process in a docker container. Likewise the ``System.Environment.CurrentDirectory`` for each notebook is the same.

This can easily lead to conflicting use of the file system from different notebooks if the current directory is used to store and resolve

[2016-12-03 16:41] dsyme commented on #106
Added https://github.com/fsprojects/IfSharp/issues/112 for the __SOURCE_DIRECTORY__ issue

[2016-12-03 16:44] cgravill commented on #108
There are changes coming to the editor as part of JupyterLab and there's interest in supporting other editors, Monaco being mentioned here: https://github.com/jupyterlab/jupyterlab/issues/875

Given Monaco is now independently open source https://github.com/Microsoft/monaco-editor it could give F# users a much better experience between the Ionide and notebook usage.

Agreed the present autocomplet

[2016-12-03 16:56] cgravill commented on #112
With Paket, if you have two notebooks with different versions it's going to cause churn but they seem to have coexisted.

We discussed moving to a model with a unique packages folder per notebook but that may require quite a lot of duplication of binaries. I'm usually of the opinion that disc space is cheap but plotting/FsLab is a lot for every experimental notebook.

[2016-12-03 16:58] cgravill commented on #110
That actually raises an interesting question, we upgraded to F# 4.0 to easily support Paket. However, should we be producing multiple kernels so people can chose F# version? Or just keep fixing on the most recent stable version?

[2016-12-03 17:00] cgravill commented on #112
Is this causing an issue when you switch between two notebooks?

[2016-12-03 18:10] dsyme commented on #112
It causes a problem when using ``Paket.Dependencies.Install`` which is non-additive.  I did notice that for sure.  Also the results of the generation of "load" files from one notebook was picked up by another, so that's an issue to consider.

It would also cause a problem with ``Paket.Package`` if versions or resolutions are different.  But that's a much less severe problem.

[2016-12-03 18:12] dsyme commented on #112
@cgravill On Azure notebooks I find myself with 5-6 similar duplicated notebooks all with slight variations on package lists

Maybe paket uses a package cache (for downloads) which is independent of the "packages" directory.  So that could be shared, but the individual notebooks gets isolated "packages" directories.  But yes, the cost could certainly be high in disk space.   It's an issue for any

[2016-12-04 18:57] hanpari opened #113 "qt console is supposed to work or not?"
### Description

I tried run jupyter qtconsole --kernel=ifsharp

### Repro steps

I run jupyter qtconsole --kernel=ifsharp

qtconsole appeared but kernel keeped dying.

### Expected behavior

Well, I dont know if qtconsole should work anyway. But I it seems the kernel was found but something went wrong. My jupyter notebook with ifsharp seems pretty slow as well so there might be some related bug.

[2016-12-05 12:10] dsyme commented on #108
I think the (very) short term thing is to stop the autocomplete appearing after numbers and "..". There are a lot of numbers in notebooks :)

I'll take a look at the implementation to see if it's easy.  cc @sylvanc

[2016-12-05 16:34] cgravill commented on #105
Agreed. I just checked and Python does export the Markdown into the .py file.

[2016-12-05 19:12] prosconi commented on #108
@dsyme Pressing ctrl+<space> is supposed to help you there, but admittedly it is buggy. Am wondering if we should take out the custom-made "intellisense" stuff and stick with the built-in jupyter auto complete

[2016-12-06 10:04] cgravill commented on #113
I don't know of anyone who is using this. We'd be very happy to take patches.

Out of curiosity, what's the motivation for trying this? A mixture of browser based notebooks and VSCode/Atom have been pretty good coverage for me. There's a nice write up by @tpetricek about the Atom & Ionide approach here: http://tomasp.net/blog/2016/fslab-ionide/

[2016-12-06 11:05] cgravill commented on #105
Turns out this is a general problem with languages other than Python: https://github.com/IRkernel/IRkernel/issues/394

Looks feasible to write a module to do this.

[2016-12-06 11:23] sylvanc commented on #54
I think an `appdata/local` installation is a good idea, even if we change where Paket puts packages.

[2016-12-06 12:25] cgravill commented on #105
Yes, it's possible to create module that exports the markdown commented in F# style.

fsharp.py
[code]

and a template
[code]
Then produces:
[code]

However, it looks like the way such exporters are being configured is being improved: https://github.com/jupyter/nbconvert/issues/361 I'm not sure how we'd go about distributing the exporter as is.

[2016-12-06 15:56] sylvanc commented on #108
@dsyme and I did a survey of the IF# specific autocomplete issues. We came up with an "achievable quickly" list to improve the user experience - feedback on this would be most welcome!

1. Don't try to display red-squiggly errors. Currently, they are a bit misleading, and they are recalculated when autocomplete results are returned, which is not what the user would expect. Obviously, reintroducing

[2016-12-06 16:37] OverlyExcessive opened #115 "Unable to find FSCharting.Gtk.fsx"
Steps to reproduce, in a new cell evaluate, `#load "FSCharting.Gtk.fsx"`.

Produces error message:

[code]

[2016-12-06 16:38] hanpari commented on #113
My motivation? I just want to try if I can have better REPL out of the box :) In theory, I thought it could be working because I tried to use IFsharp kernel. There is probably no good reason to support something like this. Generally, I would agree that notebook is more convenient. I dont use jupyter qtconsole often. You can close this issue as not important. By the way,  is it working for you? :)

[2016-12-06 17:55] hanpari commented on #113
One note. It should be working because for example julia is working like this (as found here).

https://jupyter-console.readthedocs.io/en/latest/

If you need fast and extented REPL, this might be interesting alternative if I am not wrong. Dont you think?

[2016-12-07 06:01] simra commented on #115
Charting seems to be in flux and the documentation is quite out of date.
The one example I got to work was @dsyme's azure notebook (you have to manually re-run the cells to produce a chart).  This link may work but I'm not sure whether it corresponds to his or mine:
https://notebooks.azure.com/n/bclfpmMZuMU/notebooks/fsharp-advanced-guide.ipynb

I can't find FSCharting.* in the repo, I think it ha

[2016-12-07 14:16] cgravill commented on #115
For the original question, it's been renamed to `FSharp.Charting.Gtk.fsx` and a corresponding `FSharp.Charting.Gtk.Paket.fsx`. Fair warning I don't know how well the GTK version works. This was contributed by @npmurphy who I think may use some of the client-side charting libraries like XPlot now,

[2016-12-07 14:28] cgravill commented on #115
@simra yes the documentation has definitely lagged behind the changes and needs updating.

The overall intention is to make improve cross-platform support and allow people to upgrade all packages. The previous examples did expect FSharp.Charting to be built-in which caused issues with updating.

If you want to use FSharp Charting you can do so like this:

[code]

![image](https://cloud.githubuserc

[2016-12-07 14:36] cgravill commented on #115
I have updated the feature notebook to use more up to date samples - a shortened version of what's on Azure Notebooks and updated the links from the readme. I also removed the charting example on there for now.

The documentation on http://bayardrock.github.io/IfSharp/ corresponds to the now archived version of IfSharp at: https://github.com/fsprojects/IfSharp/tree/ipython-archive I have now remov

[2016-12-07 15:35] cgravill commented on #113
Totally makes sense it could work, just needs someone motivated to make it work. Happy to take patches.

[2016-12-07 19:34] simra commented on #115
Nice! Thanks for info and the quick updates.

[2016-12-07 19:35] yggdr opened #116 "prints to command line, not the notebook"
Fsharp notebook prints to command line where jupyter was started, not the browser.
E.g. a notebook with just the cell
printfn "Hello"
will print "Hello" to the command line, but just "<null>" into the Out cell of the notebook.

FreeBSD 11.0
Mono JIT compiler version 4.4.2 (Stable 4.4.2.11/f72fe45 Thu Nov  3 02:30:48 UTC 2016)
Copyright (C) 2002-2014 Novell, Inc, Xamarin Inc and Contributors. www.m

[2016-12-08 15:08] tpetricek commented on #108
FYI, I fixed some of the issues (though not the `1.<autocomplete>`) in the version of the CodeMirror integration that runs in Fun3D: https://github.com/tpetricek/Fun3D/blob/master/app.fsx - It is based on the same code base as IFSharp, but it diverged quite a bit - so there might not be an easy way to integrate this.

[2016-12-08 20:08] hanpari commented on #113
I understand I was just asking if it is supposed to work or not. You are doing great job, anyway.

[2016-12-09 11:48] cgravill commented on #110
Could you point me to the fix or ticket? That way we can update when this is addressed upstream. I've updated our dependencies but we're still printing `<null>`.

[2016-12-09 12:11] cgravill commented on #111
What's happening is that we're applying `sprintf "%A"` on `<obj>` to the last expression as a default formatter. Is it possible to make that respect the PrintLength setting?

As a workaround, if you add:
[code]
then you'll get both outputs, where the first respects PrintLength.

It might be clearest to take explicit control and stringify the collection directly.

[2016-12-12 10:01] mavnn opened #117 "Displaying graphs in IfSharp"
### Description

Hi! I'd like to visualize simple graphs (as in, edges and nodes rather than bar charts) in a notebook. At the moment the simplest option looks like a wrapper around D3; it looks like XPlot should be able to do something along those lines but I'm struggling to work out how.

Can anyone point me to some examples?

[2016-12-12 10:04] mavnn commented on #116
@yggdr it is the value of the expression in the cell which is used as the output, not what it prints.

So:

[code]

Will have an output of "hello" while:

[code]

Will output nothing as printfn returns unit.

[2016-12-12 11:06] yggdr commented on #116
Thank you very much. Is this what an F# programmer would expect? I set this up so I could try finally try out F#, so I can only speak as a Jupyter user, but I would have expected a print statement to print to the frontend, not the console, like it does in other languages on jupyter, primarily of course python.

[2016-12-12 11:13] mavnn commented on #116
This mirrors roughly how the F# REPL acts; the REPL allows you to override how evaluated expressions are displayed, and this allows the same techniques to carry over to work books. So I suppose yes, this is basically what I expected as an F# programmer. It flows fairly naturally from F# being an expression based language.

Having previously used Python notebooks for Python, it did trip me up initi

[2016-12-12 11:33] yggdr commented on #116
Ok, good to know. Thanks again!

[2016-12-12 19:16] tpetricek opened #118 "Supporting Google Charts"
@sylvanc I think I figured out what needs to be changed to make Google charts load!

I believe we've been hitting [this error](http://stackoverflow.com/questions/9519673/why-does-google-load-cause-my-page-to-go-blank) on Friday and I think the second answer (specify callback) makes it work (obviously....).

[2016-12-13 20:04] crwilcox opened #119 "Master fails to build on Ubuntu 16.04"
We install F# from apt on Ubuntu 16.04.

We have seen on the recent bits the following error. I think this may be related to the recent change in dependencies https://github.com/fsprojects/IfSharp/commit/96d1116380c120dc1aedfcda3338f3874bfd67e7

This is the output from `build.sh`

[code]

[2016-12-13 21:14] cgravill commented on #119
That's a curious issue, it seems to be building OK on the TravisCI build:
https://travis-ci.org/fsprojects/IfSharp

I searched for the error and found: http://stackoverflow.com/a/19750787/35544

Based on that I've removed some leftover NuGet Package Restore configuration. We use Paket throughout now. Try that and see if it helps.

[2016-12-13 21:23] cgravill commented on #117
It's not a graph visualization but there is an example of interacting with D3 from the notebooks at the end of the feature notebook: https://github.com/fsprojects/IfSharp/blob/master/FSharp_Jupyter_Notebooks.ipynb

We use https://github.com/Microsoft/automatic-graph-layout for our graphs which you can then return the result as an image. There's a lot more features in that though.

[2016-12-13 21:54] cgravill commented on #116
@mavnn has it exactly right, we print out the expression rather than connect to the console. I've found it somewhat useful having a separate console (and debugger) but could see the merit in behaving more like IPython and FSI.

[2016-12-13 23:15] cgravill commented on #108
I've registered listening to Jupyter messages for deletes and entering command mode for a given cell. Then wired them to clear the autocomplete. That should help with 3 and alleviate the distress it causes. :-)

[2016-12-13 23:20] cgravill commented on #25
I've registered for the a given cell going into "command mode" which will occur when you select a different cell. I think that fixes this.

[2016-12-13 23:22] #25 closed

[2016-12-14 13:00] sylvanc commented on #118
Excellent! Are you up for adding `XPlot.GoogleCharts.Paket.fsx` and `XPlot.GoogleCharts.fsx` that sets things up to work, as the Plotly versions do?

[2016-12-14 14:54] tpetricek commented on #118
I'll see if we can do it just through the FsLab formatters - that way, all you'd need to do is to `#load "FsLab.fsx"` - I think it should be doable without having any direct support for this in Jupyter.

(The same for Plotly - though I'm not yet sure why it does not already work out-of-the-box.)

[2016-12-14 15:35] sylvanc commented on #118
Sounds good!

[2016-12-14 17:35] cgravill commented on #118
Would it still be possible to chart without "FsLab.fsx" as well? It's great to share the formatters as an option, just that we don't actually use FsLab in many of our notebooks.

[2016-12-14 21:22] crwilcox commented on #119
@cgravill
It seems we have a more nebulous problem on our end where apt can't seem to use the xamarin source with https.

[code]

That is the source of our problem. Changing the deb to use http instead of https will resolve it. I am going to continue investigating that issue, but it doesn't seem to be an issue with ifsharp but instead mono installation using https.

[2016-12-14 21:22] #119 closed

[2016-12-14 22:06] tpetricek commented on #118
I'm sure we can support both options - though I want to make sure it can be done without modifying IFSharp directly - that way, we know that when the next cool charting library appears, we can support it just via a Nuget package.

[2016-12-15 02:08] Rickasaurus commented on #118
Awesome! :)

Richard Minerich
Microsoft MVP (F#)
@Rickasaurus
richard.minerich@gmail.com
phone: 860-922-3456

On Wed, Dec 14, 2016 at 5:06 PM, Tomas Petricek <notifications@github.com>
wrote:

[2016-12-15 16:17] sylvanc commented on #108
Thanks @cgravill ! I built on your work to solve 2, 4, 5. I also changed to using fsiEval to do IntelliSense, which simplified the code. There's still a lot of scope for improvement, but it's getting better.

https://github.com/fsprojects/IfSharp/pull/120

[2016-12-15 16:18] cgravill commented on #119
Thanks for letting me know, good luck!

It prompted some tidy up so it had a good side-effect.

[2016-12-15 16:33] cgravill commented on #108
Excellent! The floating point (2.) fix is a massive improvement all by itself!

I'm still seeing some forms of 4. it's hard to explain in just text so perhaps a screenshot will help:

![image](https://cloud.githubusercontent.com/assets/1099725/21232572/fab044f4-c2e3-11e6-9ab1-7e45a4b65180.png)

I've moved the cursor with a mouse click to x which should dismiss the completion, were you fixing somet

[2016-12-15 17:17] dsyme commented on #108
Could you explain that a bit more, with links into the relevant lines in the PR? would like to review for my understanding - thanks!

[2016-12-16 09:27] sylvanc commented on #108
Thanks @cgravill - I think I know what to do now, thanks to your excellent example. The CodeMirror `cursorActivity` event may be what addresses this:

http://codemirror.net/doc/manual.html#events

@dsyme : sorry about the lack of context! Previously, there were two code paths for code completion:

The first, `Evaluation.GetDeclarations`

https://github.com/fsprojects/IfSharp/pull/120/files#diff-4d

[2016-12-16 10:24] cgravill commented on #118
Sounds excellent, we were really glad to get the code out into .fsx files so that users could update and add their own charting libraries via Paket. If we can free that even further that would really help with the extensibility story.

[2016-12-17 14:52] hanpari commented on #106
What about to cancel "#N" directive if it is not working?
It is confusing. I wanted to try this one:

http://numerics.mathdotnet.com/IFSharpNotebook.html

And then (after error) I found this issue.

[2016-12-18 09:12] hanpari commented on #113
@cgravill
I have just tried to run:
    jupyter console --kernel=ifsharp

with unexpected result as seen in picture.

Quite surprisingly, it starts to work with jupyter-console of version 5. I tried version 4 as I supposed there might be some issue with changed communication protocol  but version 4 failed immediately.

As I say version 5 of jupyter-console took me into cell as seen on picture. Aft

[2016-12-18 09:40] mavnn commented on #117
Thanks! I managed to get something working (you can see it at http://blog.mavnn.co.uk/advent-2016/ ). Tempted to write a little plugin fsx for it; graphs are something I want fairly often in data exploration.

[2016-12-18 09:40] #117 closed

[2016-12-19 10:19] cgravill commented on #106
Hi @hanpari yes, we've actually removed this with #107 where I also provide some conversion support. This is merged to master. Next time we do a release it'll be included.

The example there will need several updates to be current with what we have now.

[2016-12-19 11:52] cgravill commented on #112
To put some figures on the packages directories:

**nuget FsLab = 1.0.2**
373 MB (391,801,535 bytes)

**framework: net451
nuget FsLab = 1.0.2**
115 MB (121,290,223 bytes)

**framework: net462
nuget FsLab = 1.0.2**
115 MB (121,290,223 bytes)

**nuget XPlot.Plotly = 1.4.2**
262 MB (274,837,915 bytes)

**framework: net451
nuget XPlot.Plotly = 1.4.2**
9.32 MB (9,778,255 bytes)

**framework: net462
nug

[2016-12-19 11:56] cgravill commented on #112
My ideal is a machine-wise immutable store of downloaded packages. Perhaps we should use: https://fsprojects.github.io/Paket/nuget-dependencies.html#Putting-the-version-no-into-the-path though it'll cause annoyance around knowing the version you've got in a given notebook. Perhaps this combined with generating referencing scripts.

[2016-12-21 13:15] dsyme commented on #108
@sylvanc  OK, super, thanks!

[2017-01-04 11:44] sylvanc commented on #108
A proper fix for pop-up persistence is in now. The only remaining issue on the list is the red squigglies, which I'm working on now.

[2017-01-04 15:41] sylvanc commented on #108
The squigglies are fixed in PR #123. The resulting typechecking feedback is pretty similar to Ionide, which is nice.

[2017-01-05 16:10] sylvanc commented on #112
Each notebook needs a logically separate paket.dependencies. This could be represented as a group or as a separate dependencies file. This is true whether or not version numbers go on the directories, to prevent version resolution from churning/conflicting, and to allow reference scripts to work.

As a result, I'm afraid putting version numbers on doesn't help at all.

Unfortunately, when using gr

[2017-01-05 16:23] sylvanc commented on #112
As a side note: in an IPython notebook, dependencies are installed using pip, and they are installed globally. In other words, effectively the same as the system that's currently in place for IFSharp. That doesn't mean it's a good system, it just means I was hoping IPython had a better approach but it doesn't appear to :)

[2017-01-09 14:12] cgravill commented on #113
Unfortunately I'm not familiar with this. We only implement message responses on an as-needed basis. So perhaps that message isn't required for browser based running but it is for the console.

[2017-01-09 17:27] sylvanc commented on #54
Closing, as the jupyter branch has been merged to master.

[2017-01-09 17:27] #54 closed

[2017-01-09 17:27] sylvanc commented on #106
Closing, as #107 provides conversion support.

[2017-01-09 17:27] #106 closed

[2017-01-09 19:36] hanpari commented on #113
@cgravill
It is pretty pity. I wrote before there is no bigger reason to make it work but I believe I was wrong, then. Recently, I discovered and started to use python kernel jupyter in __VSCode__. If you have few minutes please check it out. It is awesome!

https://github.com/DonJayamanne/pythonVSCode/wiki/Jupyter-Examples

@Krzysztof-Cieslak might find this one interesting as well. From my exper

[2017-01-09 21:27] prosconi commented on #113
FYI:

http://jupyter-client.readthedocs.io/en/latest/messaging.html#code-completeness

[2017-01-10 14:46] hanpari commented on #113
@prosconi
Thank you. In that case since there is cell execution only in VScode python jupyter it should be no issue. I mean you can send to kernel only cell, line or selection - not something like incomplete line. I believe it is exactly the same like Jupyter in browser.

[2017-01-10 15:33] cgravill commented on #115
Great, the documentation updates and #107 update to help migrate from #N syntax looks like enough to cover this.

[2017-01-10 15:33] #115 closed

[2017-01-10 16:00] cgravill commented on #112
Yes a logically separate expression of dependencies seems the right approach. The `Dependencies.locate(dir)` is convenient but we could directly construct the `Dependencies` against say <notebookname>.paket.dependencies. We'd also need to figure out something similar for the .lock to ensure it's stable and saved per notebook.

I haven't tested that but I think it would let us get stable dependenci

[2017-01-16 14:19] fuglede opened #125 "Pretty printing of function types"
This might well be more of a question than an issue report, but this seems like the proper place for it in any case:

In F# Interactive, I can efficiently investigate the types of domains and ranges of functions;

    val addTwo : (int -> int)

Is there some way to reproduce the `int -> int` part in IfSharp? It does not come out of the box:

     In[1]: let addTwo = (+) 2
            addTwo
    Ou

[2017-01-16 14:41] cgravill commented on #125
Yes, there's a directive you can enable to also get the F# Interactive output to display

[code]

What we're doing is printing the expression to enable us to have inline graphics. Using the extra fsioutput directive allows you to get back out exactly what the embedded F# Interactive instance is producing.

[2017-01-16 16:10] fuglede commented on #125
Excellent, thanks for the info, and apologies for the noise.

[2017-01-16 16:10] #125 closed

[2017-01-17 10:20] cgravill commented on #113
Looks interesting. We'd be very happy to take patches that extend support for more of Jupyter especially if it helped interoperability with other environments.

[2017-01-17 10:21] #116 closed

[2017-01-17 16:20] sylvanc opened #126 "Jupyter Widgets"
Can we and should we enable Jupyter widgets in IF# ?

https://github.com/ipython/ipywidgets/blob/6b1e0901260409e166ed1763db06122dedeb4b89/docs/source/examples/Widget%20Low%20Level.ipynb

It looks like it is build on top of `comm` messages.

A collection of widget examples:

https://github.com/ipython/ipywidgets/tree/6b1e0901260409e166ed1763db06122dedeb4b89/docs/source/examples

[2017-01-17 17:38] sylvanc commented on #110
Fixed in #127

[2017-01-17 17:39] sylvanc commented on #116
Changed to behave like IPython in #127

[2017-01-19 12:40] cgravill commented on #126
I do like the Mathematica manipulate command: http://reference.wolfram.com/language/ref/Manipulate.html if we could enable terse syntax to generate widgets which communicate to the kernel that would be very engaging and potentially very useful.

[2017-01-19 13:37] npmurphy commented on #126
Plotly allows interactive widgets so it might be possible to extend XPlot.Plotly to use them.
https://plot.ly/python/slider-widget/

[2017-01-20 16:17] #110 closed

[2017-01-20 16:23] sylvanc commented on #111
Fixed in #129

[2017-01-26 13:15] dsyme commented on #126
@npmurphy Re Plotly - yes, that indicates a small ecosystem of widgets, very strong motivator

[2017-01-26 13:47] #111 closed

[2017-01-26 13:49] dsyme opened #130 "Update to use latest Paket?"
The latest Paket allows the paket.dependencies to contain

    generate_load_scripts: true

See https://fsprojects.github.io/Paket/dependencies-file.html#Generate-load-scripts

This is simpler. Let's update to use this

[2017-01-26 15:07] cgravill commented on #130
Looks good and will mean consistency between script and terminal usage. Saw the plans to implement this and great it's merged. From the releases it looks like it's only in the beta/pre-release:

https://github.com/fsprojects/Paket/releases/tag/4.0.0-beta006

For a project like IfSharp I suggesting holding until the feature is in general release. I'd also really like to see something like @isaacabr

[2017-01-30 15:42] ibebbs commented on #118
Hey @tpetricek did you make any progress on this? I'm playing with a notebook right now and would very much like to use GoogleCharts rather than Plotly. I'd be happy to help out any way I can...

[2017-01-30 16:31] ibebbs commented on #118
FWIW, I managed to successfully render a GoogleChart by amalgamating the approaches used in XPlot.Plotly.fsx and Tomas' suggested fix above into a custom display printer shown here:

[code]

Hope it helps.

[2017-02-03 18:46] smoothdeveloper commented on #130
@dsyme, can someone explains to me the way it works in terms of folder structure?

I confirm it is only in prerelease, and we'd like to update the folder structure for a shallower one (and potentially one which is platform agnostic when run by default), it would be nice to resume discussion there https://github.com/fsprojects/Paket/issues/1943 as I had some reserves about where to put stuff.

havi

[2017-02-09 14:45] cgravill opened #132 "Reusing identifiers between cells gives invalid intellisense error"
### Description

In notebooks it's often convenient to use the same identifier in different cells. This is will execute fine as Jupyter treats each cell as independent when sent for execution.

### Repro steps

Intellisense treats the whole notebook as a continuous string so we can give completion between cells. If you reuse identifiers it will indicate an error, even when the cell will run fine:

[2017-02-10 02:28] smoothdeveloper opened #133 "Consider droping dependency on System.Drawing"
The conversation came up on fsharp.org slack #datascience channel, someone is trying to use IFSharp on MacOs but it crashes with a reference to libgdiplus.dylib.

From my perusing (I didn't go over the steps), installing IFSharp currently implies that user on Mac does (besides installing mono and python dependencies):
* install mono-mdk from brew cask (https://github.com/KSP-CKAN/CKAN/issues/1272)

[2017-02-12 02:25] smoothdeveloper commented on #130
The changes have been released in latest paket 4 alpha release:

* files have moved to .paket/load folder
* the `include.` file name prefix is gone
* when we can assume a default framework, we don't generate a subfolder with framework name (in practice that mean having `framework: single-framework-here` in the `paket.dependencies` file)

[2017-02-13 09:50] sylvanc opened #135 "Unreliable IntelliSense and CSS"
Cross posting from here:

https://github.com/Microsoft/AzureNotebooks/issues/37

The issue appears to be more than just IntelliSense. Occasionally, the syntax highlighting stays in the default mode (keywords are green) instead of using the F# CSS (keywords are blue). When that happens, IntelliSense also doesn't work.

It's not kernel-side, as reloading the page (while leaving the kernel running) w

[2017-02-13 10:28] cgravill commented on #135
I've done a few tests with a Chrome Incognito mode and locally I'm sometimes able to get issues like:

![image](https://cloud.githubusercontent.com/assets/1099725/22879649/ebad2ae0-f1d6-11e6-9451-0fa21b211862.png)

and

![image](https://cloud.githubusercontent.com/assets/1099725/22879666/0121252a-f1d7-11e6-95bc-3a437d9b00ff.png)

it's possible they may be related

[2017-02-15 14:08] cgravill commented on #135
I've looked into this some more and we seem to be missing some require.js defines http://requirejs.org/docs/api.html#define which is causing the load order to race. It's going to need a bit of effort to sort through the dependency chain and how it interacts with the CodeMirror lazy loading https://codemirror.net/demo/loadmode.html e.g. the `CodeMirror.requireMode` in `fsharp.js` relies on the `loa

[2017-03-08 21:05] bohdanszymanik opened #137 "Secure interactive input a la getpass"
### Description

Is there a way to get masked input data entry from the user of the notebook equivalent to the Python kernal getpass capability?

import getpass
password = getpass.getpass()

### Known workarounds

[2017-03-15 15:53] cgravill commented on #137
This probably requires an implementation of #126 for us to support getpass style interactions. It'd be great to cover this approach.

The closest approach I've used is storing secrets in a separate .fsx so they're not displayed, is that possible for what you need?

[2017-03-15 23:45] dsyme commented on #137
@cgravill @bohdanszymanik @sylvanc  I think we really need to do #126 to have Azure Notebooks F# support be "complete"

[2017-03-16 03:40] bohdanszymanik commented on #137
I can provide some background on the use case here - I'm currently part of a project involved in tertiary sector fund management - lots of potential examples of data analysis to support that investment - in particular I was looking at outliers where we might want to investigate further. Thought I could host some of the anonymised datasets in azure and then use f# as part of the tooling to prep dat

[2017-03-16 14:48] cgravill commented on #137
Ah interesting use case. It's certainly possible to load a separate .fsx, it's just F# Interactive underneath. So you can:

![image](https://cloud.githubusercontent.com/assets/1099725/24001437/0a1eae6c-0a56-11e7-8634-6e4cb17997a0.png)

However, in the hosted scenario then Azure Notebooks are going to cleanup your directories. So you'd have to put it back either using e.g. the Dropbox import or wri

[2017-03-16 16:29] cgravill commented on #135
I've simplified the way we configure Code Mirror and enforced a strict order in loading the of the dependent scripts. It's now reliable for me under load, and fresh loads in private mode windows. A side-effect is highlighting waits on kernel load, it might be possible to get it to take effect sooner but this is reliable for me at least.

Could you confirm it works for you please?

[2017-03-17 15:33] cgravill commented on #118
Thanks! I've made preliminary support for Google Charts adapted from your script @ibebbs #139

I adjusted it to save into the notebook so that output charts will last as outputs (when trusted).
Also enabled all chart types, which made for a ~400KB rather than ~300KB download but means the main chart types will work without additional changes.

I've done this in the same style as the Plotly one, @t

[2017-03-17 15:44] sylvanc commented on #135
Nice! Works for me every time :)

[2017-03-17 15:44] #135 closed

[2017-03-17 16:58] cgravill commented on #130
I've got this form working on #140 so it's possible to now do:

[code]

Paket 4.x brings some API changes which might affect some users, see the pull request for the breaking change.

[2017-03-19 16:11] roguetrainer commented on #118
A quick thanks to all of the people working to add Google Charts to IfSharp. This will be a very useful feature. Humble end-users like me appreciate your efforts. 🥇 🥇

[2017-03-19 21:12] cgravill commented on #118
Please feel free to test the current behaviour and let us if it supports everything you need. It's committed but could do with more usage before it's deployed.

btw it's only a small step from building yourself as an end-user to contributing small bits of functionality.

[2017-03-29 08:41] boustrephon opened #141 "Inferred Typing Fail across Cells"
### Description

I have defined three functions in two cells. In my original version I put the definition of `addTuple` in the first cell, and `mu6` and `fullSecProp2D` in the second. However, when I did so, I got a type error as below.

### Repro steps

If you copy my code into a notebook, you should get the same problem.
[code]

### Expected behavior

I would expect this to simply compile and gi

[2017-04-04 10:23] cgravill commented on #141
This is a non-ideal interaction between the cell-by-cell basis of Jupyter Notebooks and F# needing a fixed type for your function as specified. We send each cell to the F# compiler as an individual unit so when you split addTuple6 to its own cell, it has to resolve the types, which by default with + is going to go with int.

A good solution for this is `inline` https://docs.microsoft.com/en-us/dot

[2017-04-10 20:27] DinoV opened #142 "Support plotly mime type (application/vnd.plotly.v1+json)"
### Description

The F# kernel should support returning the Plotly mime type:
    https://github.com/plotly/plotly.py/blob/f65724f06b894a5db94245ee4889c632b887d8ce/plotly/offline/offline.py#L347
https://github.com/plotly/plotly.py/pull/562#issuecomment-245078317

Supporting this will allow notebooks to be previewed with plotly graphs in a safe way.  Because this is not currently supported the grap

[2017-04-18 12:14] npmurphy opened #143 "Low level failure when calculations get large on Mono"
### Description
Cells sometimes silently fail to execute variable assignments.
Errors are logged in shell.log

### Repro steps
1. Unzip and run the attached notebook file.

### Expected behavior
All the code in this notebook should run without error.

### Actual behavior
Code for the first example fails to return its results to the IfSharp notebook.

### Known workarounds
* The code in the cell st

[2017-04-18 15:55] cgravill commented on #143
I see the same on Mac, cells for ease of inspections:

[code]
[code]
[code]
[code]

Shell.log for reference, if you use small values it completes but large values fail

[code]

Mono details:

[code]

Mac:

[code]
I don't generally run on Mono, do you have any ideas how to proceed @sylvanc ? I can probably make this more fault evident rather than silently failing.

[2017-04-19 10:23] cgravill commented on #143
Switching to `EvalInteractionNonThrowing` didn't clarify what's happening either

[code]

[2017-04-19 14:53] cgravill commented on #141
I'm going to close this issue as it is an interaction between F# type specialisation and Jupyter's cell-by-cell approach. If anyone has an alternative feel free to re-open. Hope `inline` is useful.

[2017-04-19 14:53] #141 closed

[2017-04-19 14:54] #132 closed

[2017-04-19 14:55] cgravill commented on #130
I have merged #140 which addresses this.

[2017-04-19 14:55] #130 closed

[2017-04-19 15:00] cgravill commented on #143
I have hardened the expression evaluation so that errors in the compiler services are also caught and printed:

![screen shot 2017-04-19 at 15 49 25](https://cloud.githubusercontent.com/assets/1099725/25186749/ff592b46-2518-11e7-9871-f3982e53553d.png)

This doesn't address the actual issue but at least provides more information rather than failing silently.

[2017-04-19 15:12] cgravill commented on #143
For the error itself, there seem to be a few other similar cases:

http://stackoverflow.com/questions/40350362/memory-exception-from-math-net-when-generating-100-x-100-data-points
https://github.com/fsharp/FSharp.Data/issues/1038

[2017-04-19 15:14] boustrephon commented on #141
Thanks... much appreciated.

[2017-04-19 15:15] boustrephon commented on #141
Thanks. It worked. Much appreciated...

On 19 April 2017 at 22:53, Colin Gravill <notifications@github.com> wrote:

[2017-04-28 10:54] cgravill commented on #143
I've put together a test case as a console application which does a similar set-up and calls EvalInteractionNonThrowing. This runs to completion without the above issues. Trying to include more of what we're doing next.

[code]

[2017-05-13 06:33] mainul12 opened #145 "IFSharp for Windows 32-bit"
### Description

IFSharp.exe does not run on Windows 32-bit machine. Will there be an edition to enable this in the future?

[2017-05-17 13:36] cgravill commented on #145
My understanding is that the 64-bit requirement was to simplify dependencies e.g. ZeroMQ which has been replaced with a pure .net implementation. So it's likely possible to switch to supporting both 32-bit and 64-bit.

I'm not aware of any plans to actually do it but pull requests are welcome.

[2017-05-18 10:03] evelinag opened #146 "Paket error in Azure notebook samples"
### Description

When running the official F# tutorial "FSharp for Azure Notebooks",  I'm getting an error when downloading packages with Paket.

### Repro steps

1. Go to section "Referencing NuGet Packages using Paket"
2. Run first two cells.

### Actual behavior

After running the second cell containing
[code]

I'm getting the following:
[code]
It seems that the function that generates load scr

[2017-05-18 11:20] cgravill commented on #146
Ah, the sample looks to be running the old syntax. We updated to use Paket 4.x which changed the syntax, more details on #140

I'll follow up with the Azure Notebooks people to make sure the sample is updated. In the meantime I suggest using this:

[code]
as that works with old and new, alternatively using Paket generateScriptsForRootFolder directly is still supported but needs adjustments.

[2017-05-18 13:46] evelinag commented on #146
Thank you and thanks for the workaround, it actually looks better than using `generateScriptsForRootFolder` directly.

[2017-05-18 15:53] evelinag commented on #146
Is there some way to use packages from github via paket using this syntax, or is it fixed to nuget?

[2017-05-19 14:45] cgravill commented on #146
Great, @sylvanc came up the approach, we like it too!

On the issue itself, there were two F# samples on Azure Notebooks. Only one had been updated with the new release. This has now been resolved so new notebooks will use compatible syntax

[2017-05-19 15:00] cgravill commented on #146
We're just wrapping up a Paket Dependencies object, then making a call into add https://fsprojects.github.io/Paket/paket-add.html it looks like they might be considering adding other support here https://github.com/fsprojects/Paket/projects/1#card-2555110

It would be great to provide a nice way to access the GitHub dependencies within a Jupyter Notebook.

[2017-05-22 15:05] cgravill opened #147 "Support other dependency types with Paket"
We have support NuGet packages via:

[code]

however that only covers NuGet packages. It would be useful to cover other types e.g. GitHub as mentioned #146. This might be best done in Paket itself, which has support https://fsprojects.github.io/Paket/github-dependencies.html but that's not currently exposed.

[2017-05-22 15:07] cgravill commented on #146
Closing this, I've open #147 for tracking getting support for other dependency types

[2017-05-22 15:07] #146 closed

[2017-05-23 00:18] apskim opened #148 "Theme cannot be configured"
### Description

IfSharp currently hardcodes the CodeMirror theme for F# as `neat`, and provides a custom CSS for it. This breaks the standard Jupyter theming ecosystem, which expects the cells to have a top-level `.cm-s-ipython` class. Because of that, projects like [jupyter-themes](https://github.com/dunovank/jupyter-themes) do not work with F# (even though they work with C#, R, Julia, and other

[2017-05-24 15:04] cgravill commented on #148
Supporting Jupyter themes sounds great. I haven't interacted much with the custom CSS so there might be extra complications e.g. our custom code completion or perhaps that bit of the code is just old. If everything works I'd be very happy to merge this in.

[2017-06-16 12:51] cgravill commented on #143
Same behaviour after update to Mono JIT compiler version 5.0.1.1 on OS X.

[2017-06-16 13:05] dsyme commented on #143
@cgravill Since this is a Mono bug, can you build a repro using either

1. compiled code (fsharpc), or
2. just using the "fsharpi" command line tool?

[2017-06-16 13:51] cgravill commented on #143
@dsyme I've not been able to yet, there's some code above (https://github.com/fsprojects/IfSharp/issues/143#issuecomment-297969126) which performs equivalent operations as a command-line tool written against the compiler services. This successfully runs to completion without issue on my OS X machine.

I'm guessing we have somehow have a slightly different library via redirects or the runtime conte

[2017-07-10 08:51] cgravill commented on #118
Hi all, this initial support is in the beta 2 zip release. I'll close this issue now. Please do add new requests if there's adjustments or improvements for this.

[2017-07-10 08:51] #118 closed

[2017-07-11 23:11] mateuszlewko opened #150 "Using App.config"
### Description

I'm looking for a way to use app.config with IfSharp. I've found that when using fsi.exe I just need to copy my app.config and paste it into /usr/lib/mono/fsharp/fsi.exe.config or .../fsiAnyCpu.exe.config (on linux, something similar on windows).
This actually works, but unfortunately not with f# notebook. IfSharp still doesn't see configs from app.config. I expected it to work th

[2017-07-12 10:53] cgravill commented on #150
Yes, there is an fsi shell internally but it's hosted by the F# compiler services which may your issue. We have a launch process IfSharpConsole.exe that Jupyter calls back into you can configure the .config of that ifsharp.exe.config and it'll then be present in the kernel execution.

To demonstrate I read it in Jupyter cell:

[code]

![image](https://user-images.githubusercontent.com/1099725/2811

[2017-07-12 19:12] mateuszlewko commented on #150
I didn't see that there is an ifsharp.exe.config. It's a bit hacky but sufficient for me to merge this with my app.config. I'm not sure if mysql connector has an option to set its parameters differently.
Anyway thanks for help.

[2017-07-12 19:12] #150 closed

[2017-07-15 12:23] afairy opened #151 "#load "Paket.fsx" fails while parsing the lock file"
### Description

`#load "Paket.fsx"` fails while parsing the `paket.lock` file

### Repro steps

I installed mono and fsharp on ubuntu 17.04 (using the xenial packages), following the Readme.
Then I created an F# notebook, and tested the **Screen** examples in the readme. When I reached the **Integrated NuGet** part and evaluated `#load "Paket.fsx"` an error was shown

### Expected behavior

`#loa

[2017-07-15 14:31] cgravill commented on #151
How are you installing? Source, beta1, or beta2? I have beta2 and source working on MacOS with Mono 5.0.1.1 but haven't tried Ubuntu (but others have it working https://github.com/Microsoft/AzureNotebooks/issues/115).

Did you use the `mono paket.bootstrapper.exe`? That's in the current install instructions but may cause a mismatch with the Paket.Core.dll we ship. Maybe try something closer to the

[2017-07-15 18:11] afairy commented on #151
I followed the Mac instructions, no more error! I had used beta2 previously also.

The Linux instructions also confused me with the directory: they say run from install directory `~/opt`, but `~/opt/ifsharp` is the actual install directory, so I ran it from the ifsharp directory, which I now realize might have overwritten the paket.lock file, which already exists.

[2017-07-15 18:11] #151 closed

[2017-07-16 18:34] cgravill commented on #142
This is probably where it needs a change: https://github.com/fsprojects/IfSharp/blob/master/src/IfSharp.Kernel/helpers/XPlot.Plotly.fsx#L11 there's some adjustments needed to return a bundle of responses.

[2017-07-16 18:50] cgravill commented on #151
Great, glad it's working now. Thanks for reporting, it prompted us to update the docs #152 with thanks to @npmurphy. We previously had more messy workarounds but have been able to improve the kernel and adjust to Jupyter changes with beta2.

[2017-07-30 18:44] SLAPaper opened #153 "Type printing for some functions won't work"
### Description

I'm trying the "Swapping Arguments" example in http://www.tryfsharp.org/Learn/advanced-programming:

[code]

the type should has signature of `val swapargs : f:('a -> 'b -> 'c) -> x:'b -> y:'a -> 'c`

but when I want to print the sig by

[code]

there is no output

while

[code]

is what is expected as talked in #125 #131

### Repro steps

1. Step A

[code]

2. Step B

[code]

###

[2017-08-09 11:53] SLAPaper commented on #153
Update:
I checked the `possiblyAFuncAsString` in https://github.com/fsprojects/IfSharp/blob/99e4fde10158be5af013e126995e03e1679411ae/src/IfSharp.Kernel/Printers.fs#L53
but it works partially when I put the `swapargs` into it.

[code]

Although it doesn't provide the difference between different "obj", but at least it print something. But I can't figure out why this string won't get outputed.

[2017-08-17 11:44] cgravill commented on #153
What's happening is that we extract the expression dynamically, see `GetLastExpression`
https://github.com/fsprojects/IfSharp/blob/master/src/IfSharp.Kernel/Evaluation.fs#L68

That isn't the same as what is going on in F# Interactive (which I believe is working from more of the source).

Using the approach we do, causes the evaluation of `swapargs` to throw an exception concerning value restrictio

[2017-08-30 19:35] xperiandri commented on #142
If this is such a simple step will it be enough to make a pull request?

[2017-08-30 20:34] cgravill commented on #142
Sure, I'll very happily merge a pull request that fixes any of the issues.

[2017-08-30 22:17] xperiandri commented on #142
@DinoV, what do you think? Will this change be enough to fix the issue?

[2017-08-31 19:17] xperiandri commented on #142
@cgravill, is there a manual of how to at least restore dependencies?
I opened a project and everything is highlighted with red line!

[2017-09-01 13:51] cgravill commented on #142
@xperiandri dependencies are managed using Paket. There are lots of ways to use it but this will do it https://fsprojects.github.io/Paket/getting-started.html#Installing-dependencies note only the bootstraper is checked in https://fsprojects.github.io/Paket/bootstrapper.html

btw we could use auto-restore (https://fsprojects.github.io/Paket/paket-auto-restore.html), which I use on projects to make

[2017-09-05 09:03] cgravill commented on #142
I've investigated this more. There are two parts, where the Plotly library is injected, either entirely or via CDN, and then the inject of charts using the library.

@DinoV for your Python sample I get: The error is tracked by id: 7b337489-596f-4c20-9904-3f76fb5f3cb5

So I created my own sample here: https://notebooks.azure.com/cgravill/libraries/python/html/aaa.ipynb

In the ipynb it has the scri

[2017-09-12 20:45] xperiandri commented on #143
Is this about the same?
[code]

[code]

[2017-09-27 14:04] Zaid-Ajaj opened #154 "Unable to build Dockerfile from the repository"
### Description
Unable to build Dockerfile from sources

### Repro steps
[code]

### Expected behavior
Expected the build to run succesfully

### Actual behavior
The build fails
see the log below:
[code]

### Known workarounds
None

### Related information

* Operating system CentOS v7.x
* Branch master

[2017-10-06 15:49] forki opened #155 "Issues while trying out samples"
@jdh30 reported issues with the azure notebook samples on Twitter: https://twitter.com/jonharrop/status/916312696458502144

I just report it here so that contributors know about it and may check if samples are still up-to-date

[2017-10-07 10:35] cgravill commented on #155
I'm guessing it's this one https://twitter.com/jonharrop/status/916313349272621056

This is working for me:

1. https://notebooks.azure.com/
2. Choose the Introduction to F#
3. Clone
4. Run the relevant cells at the end of the notebook

![image](https://user-images.githubusercontent.com/1099725/31306934-377598ec-ab52-11e7-9e14-a3dda5bac40b.png)

https://notebooks.azure.com/cgravill/libraries/fshar

[2017-10-07 11:08] cgravill commented on #154
I'm not sure if anyone has tried using CentOS with this Docker image. I've had it working with Ubuntu previously though I'm not an active user. I believe the Azure Notebook teams build for docker on Ubuntu, you could try it there?

[2017-10-07 11:28] cgravill commented on #155
On the original tweet, we're demonstrating interactive D3 hence it being long. If someone just wants to draw a circle they can do something shorter:

![image](https://user-images.githubusercontent.com/1099725/31307334-53e5c1ca-ab5a-11e7-8210-f2c154b6c0fa.png)

we should probably make Bitmap types display automatically so the imageToByteArray isn't needed. For various reasons, we tend to work with

[2017-10-07 12:19] jdh30 commented on #155
No, it was this one:

https://twitter.com/jonharrop/status/916313349272621056

https://pbs.twimg.com/media/DLdmEYIW0AAO8lx.png

https://pbs.twimg.com/media/DLdmFsoWkAYeipG.png

I did exactly what you said (choose F# Intro, Clone, Kernel->Run all).

[2017-10-07 13:00] dsyme commented on #155
@cgravill   - I can repro the bug by cloning the notebook https://notebooks.azure.com/cgravill/libraries/fsharp_test/html/FSharp%20for%20Azure%20Notebooks.ipynb

Mono version is showing as 5.0.1.1 - I recall a Mono bug that has been fixed in early 5.0.x.  I think we should update to 5.2 or 5.4,  I tried to use the in-browser terminal (click on Jupyter to left of notebook --> "New" -> "Terminal") t

[2017-10-07 13:01] dsyme commented on #155
@jdh30 Thanks or the bug report - we evidently didn't re-validate the notebook after a Mono update

[2017-10-07 13:08] cgravill commented on #155
Thanks @jdh30 that clarifies where the issue is - I was testing later in the notebook based in the initial report. I can reproduce the error in the online Azure Notebooks. It doesn't occur in a local IfSharp Windows install so it'll need digging into.

[2017-10-07 13:22] cgravill commented on #155
@dsyme Mono 5.2.* looks promising as a fix.

On Mac OS:
[code]

The relevant code complete successfully:

[code]

[2017-10-07 13:28] cgravill commented on #155
@dsyme there looks to be a way of getting privileges here https://github.com/Microsoft/AzureNotebooks/issues/112 (I've not tried it as it looks involved...)

[2017-10-07 13:38] cgravill commented on #143
@xperiandri it looks very likely to be related

Note the issue is still present on 5.2.0.224 Mac OS

[2017-10-07 19:57] Zaid-Ajaj commented on #154
@cgravill I will try it on Ubunto but this is kind of irrelevant since a docker image should work on any host with docker installed.

[2017-10-08 20:02] cgravill commented on #154
I agree it shouldn't make a difference but I've personally only built the Docker image once, a while back and that was with Ubuntu.

Taking a look at the error it looks like a certificate error possibly with the Paket bootstrapper, which might be easily fixed. There's some more details on this here http://www.mono-project.com/docs/faq/security/#i-imported-the-root-certificate-but-it-still-doesnt-w

[2017-10-12 20:51] xperiandri commented on #143
So what to do? It is a blocking issue

[2017-10-27 23:09] jancura opened #156 "Unable to use FsLab package with IfSharp notebook"
### Description

I have tried to do [FsLab tutorial](https://fslab.org/getting-started/) example with Azure Notebook, as well as locally with my Jupyter installation and IFSharp as kernel. However, FsLab.fsx is not able to reference the package dependecies.

### Repro steps

I run in the cell following

1. #load "Paket.fsx"
Paket.Package [ "FsLab" ]
#load "Paket.Generated.Refs.fsx"
#load "packages

[2017-10-28 12:37] tpetricek commented on #156
What error are you seeing?

[2017-10-28 12:49] jancura commented on #156
I got this error:
[code]

[2017-10-28 12:51] jancura commented on #156
I am using Azure notebook

[2017-10-28 14:42] cgravill commented on #155
Mono 5.2.0.224 is deployed to Azure Notebooks, and I've validated it there. Let us know if more issues come up.

[2017-10-28 14:42] #155 closed

[2017-10-28 14:55] cgravill commented on #156
It's looking for the packages with version numbers, Paket by default doesn't need to do this.

As a workaround, you don't actually need to call that helper to get packages referenced as #load `Paket.Generated.Refs.fsx` does it for you:

![image](https://user-images.githubusercontent.com/1099725/32135440-467c73d2-bbf7-11e7-8348-fa2406e04c5b.png)

Fair warning, if you're following https://fslab.org/

[2017-10-28 16:19] jancura commented on #156
Thanks for the workaround. It did work. However, now I have an issue with plotting. If I use the example from the website, I get the error:
[code]
If I change to Chart.Line then I get:
[code]

[2017-10-28 20:08] tpetricek commented on #156
The sequence of "The search directory ... could not be found" messages is just warnings - sadly, I cannot find a reliable way of ignoring them. (We add more search paths than necessary to support both legacy NuGet client and Paket).

As for Foogle, this is ineed an obsolete library and we should fix FsLab docs - the new library is (much more complete) XPlot (https://tahahachana.github.io/XPlot/).

[2017-10-28 20:30] jancura commented on #156
I used the following:
[code]
It does not give an error but the output cell is not a chart but:
`Out[  ]: XPlot.GoogleCharts.GoogleChart`

So, it seems that IfSharp cannot embed figures produced by XPlot in Out cells.

[2017-10-28 20:32] tpetricek commented on #156
Oh no, I think most of the modern demos are using Plotly (also via XPlot, but using different set of APIs)

[2017-10-28 20:41] jancura commented on #156
I think with Plotly I have to have credentials and do login. Is there no simpler way of doing plotting in IfSharp without the need of an additional separate account for Plotly?

[2017-10-30 13:25] frelon commented on #154
I tried solving this in #157, it seems the correct certificates are added in the mono:5.4.0.201 image.

[2017-10-31 09:51] cgravill commented on #156
We use the Plotly offline mode via XPlot so there's no requirement for an account.

You need to open a few more scripts to make it work, there's more details in the feature notebook (in the root of the repository) but the quick version is:

[code]

then a stand-alone example chart:

[code]

Note the reason for the scripts is we want to keep the notebook system separate from a given charting approa

[2017-10-31 11:09] cgravill commented on #154
@frelon that looks great, I was able to build a docker image and run the F# notebook with this.  The upgrade to a recent Mono install is also helpful.

Was the switch to root essential? I'm happy to go with that for now as at least it's in a working state.

[2017-10-31 11:41] frelon commented on #154
@cgravill without the allow-root flag the container shutdown directly, but I'll try to change it to not use root instead...

[2017-10-31 12:31] cgravill commented on #143
I've done the preliminary isolation and made IfSharp clearer about the failure. If someone with experience of debugging Mono itself were able to assist I suspect it would be quickly resolved. Know anyone who could help? Equally if someone could reproduce it in the command-line it could be raised directly there.

[2017-10-31 14:02] cgravill commented on #103
I adjusted the top level description in this direction but left the "I" in placed.

I'm going to close this as dormant, happy to discuss more in the future especially if strong conventions in the Jupyter kernel space emerge.

[2017-10-31 14:02] #103 closed

[2017-10-31 14:04] cgravill commented on #145
I'm going to close this for now but happy to take a pull request to make it work on both 32bit and 64bit.

[2017-10-31 14:04] #145 closed

[2017-10-31 14:13] cgravill commented on #154
Thanks! If it causes trouble I can merge it as-is. However, it would be good for safety in depth to avoid running as root - some people may expose this.

[2017-10-31 21:07] frelon commented on #154
@cgravill No problems! Added an ifsharp-user instead in #158

[2017-10-31 21:13] jancura commented on #156
Thanks for the answer. I have some feedback as a newcomer. If you look at [F# for Azure Notebooks](https://notebooks.azure.com/Microsoft/libraries/samples/html/FSharp%20for%20Azure%20Notebooks.ipynb) sample library, the figures are not rendered. It seems the cells to load the few more scripts you mentioned above are not executed. After I made a local clone of the library and executed every cell, t

[2017-11-01 09:42] cgravill commented on #154
Excellent, I've merged it in now. @Zaid-Ajaj could you see if it works for you as well please?

[2017-11-01 09:43] cgravill commented on #142
By way of update, the Plotly folks are making improvements to this then hopefully we can get it sorted here.

[2017-11-01 10:01] cgravill commented on #156
Great glad its working for you. Yes we'd very much appreciate improvements. :-)

The lack of rendered charts is caused by a rendering restriction related to how the output is marked up. We're attempting to resolve this but it's ongoing see: #142

Ah the GoogleCharts casing issue was me. Someone asked about it a while back #118  but I generally work on Windows so missed the casing inconsistency on

[2017-11-01 19:47] cgravill commented on #156
We use the shared repository model, just efficient at getting pull requests merged. :-) Similar to yourself I didn't originate the project just started helping out on relevant fixes.

[2017-11-03 01:07] jancura commented on #156
Hi, I think I miss something. I did clone the repository, created locally my branch, and then I wanted to push. But I got following error:
[code]
So, I guess I do not have an access to push in this way.

[2017-11-04 13:43] cgravill commented on #156
Yes, the repository is default restricted F# community members who have worked on the projects for longer. When starting to contribute here, I used Git fork and pull request approach: https://guides.github.com/activities/forking/ With that, you can create your own fork, commit there and make a pull request back into this repository.

Then someone, probably me, will review and discuss with the aim

[2017-11-05 21:11] frelon opened #161 "When using #N preprocessor the cells execution does not finish"
### Description

It's just a small side note, but when using the #N preprocessor the cell status will show as running instead of an error/ok status

### Repro steps

Please provide the steps required to reproduce the problem

Add a cell with #n "FsLab" and execute it

### Expected behavior

End execution as error or ok?

### Actual behavior

Shows running status [*]

### Known workarounds

Restart

[2017-11-06 15:14] xperiandri commented on #143
Try this
https://notebooks.azure.com/n/k0AJC6eoc6k/notebooks/IntroToNeuralNetworks.ipynb
Just create a matrix of `100x9`
Cell 14, line `let m = 100`

[code]

[2017-11-07 11:48] cgravill commented on #154
I'm going to close this as fixed, thanks @frelon

[2017-11-07 11:48] #154 closed

[2017-11-07 12:00] cgravill commented on #161
Fixed by @frelon on #164 thanks!

[2017-11-07 12:00] #161 closed

[2017-11-08 17:36] cgravill commented on #143
What we really need is to reproduce it on the command-line, or figure out a way to avoid it. I tried doing that above with the compiler services but I'm not able to cause the issue so far.

There's presumably something specific about the IfSharp host + mono that is causing this issue.

[2017-11-13 11:19] jancura commented on #156
I tried to use the committed helper script on a fresh install of IfSharp and I found that the script fails. The reason is that after the IfSharp install you only get main.group.**csx** csharp scripts in ".paket\load" folder. Then the script fails because of Paket.Generated.Refs.fsx fails to load missing main.group.**fsx**.

I am curious if we are even able to load all the stuff in one script as we

[2017-12-11 10:23] cgravill commented on #143
I've done a bit more narrowing:
[code]
then test cases:
[code]
[code]

[code]

[code]

So that removes the randomness, and string operations from above. It's also all the same value 0.0 in each location.

`Mono JIT compiler version 5.4.1.6`
`FSharp.Compiler.Service (17.0.1)` (tried upgrading this too)

[2017-12-12 12:43] cgravill commented on #143
I've also been able to reproduce this using Mono on the Windows Subsystem for Linux with Ubuntu 16.04.

[code]
On the same machine using the Windows install of Mono

[code]

it works without issue on the above test cases.

[2017-12-20 10:27] cgravill commented on #156
Yes, I've found you need to use a two script approach. When you execute all the instructions in one script we're not able to launch Paket first _then_ do the referencing. It's a bit messier but the best approach found so far. It'd be great to have a better approach if you find anything.

[2018-01-25 11:22] jgoode commented on #63
#fsioutput does not work in current implementation

[2018-02-03 22:58] mastoj opened #168 "Could not find version for package FSharp.Core"
### Description

I am trying to install `IfSharp` to a datalab instance of google cloud, but it fails with the above message.

### Repro steps

1. Create a datalab instance on google cloud
2. Use the gcloud console tool to connect to the compute instance
3. Connect to the docker datalab instance: `docker exec -it datalab /bin/bash`
4. Install mono
5. Follow instruction here to install `IfSharp`

#

[2018-02-08 12:21] cgravill commented on #168
I'm not familiar with Google's Datalab. Does it apply any restrictions to the network connection? Are you able to run Paket directly? If you do a fetch to https://www.nuget.org/api/v2 does it work?

[2018-02-08 19:00] algunion opened #169 "Azure Notebooks (F#): Expression evaluation failed: Object reference not set to an instance of an object"
Not sure if this is IfSharp related or the problem is on Azure side.

### Repro steps
Trying to execute this on F# notebook: https://notebooks.azure.com/algunion/libraries/list-splitter

### Expected behavior

xs should look like this:

`[([|0; 1; 2; 3; 4; 5; 6; 7; 8; 9; 10; 11; 12; 13; 14; 15|], [||]);
   ([|1; 2; 3; 4; 5; 6; 7; 8; 9; 10; 11; 12; 13; 14; 15|], [|0|]);
   ([|0; 2; 3; 4; 5; 6; 7; 8

[2018-02-09 12:32] cgravill commented on #169
I suspect this is the same issue as #143

[2018-02-10 12:54] godu opened #170 "Publish docker image on docker hub"
Users should be able to pull IfSharp docker image from docker hub. Every IfSharp releases should to be available as a Docker tag.

There are two ways to answer that :
- Build and push image with travis
  - https://docs.travis-ci.com/user/docker#Pushing-a-Docker-Image-to-a-Registry
- Use docker hub to build image
  - https://docs.docker.com/docker-hub/builds/

[2018-03-01 10:42] cgravill commented on #168
I'm going to close, feel free to reopen after performing network checks

[2018-03-01 10:42] #168 closed

[2018-03-01 10:57] mastoj commented on #168
Ok to close. I think it is too much work to get it working in a good way in google cloud datalab.

[2018-03-05 19:37] cgravill commented on #126
There's some potentially useful details here: https://blog.jupyter.org/authoring-custom-jupyter-widgets-2884a462e724

[2018-03-16 13:48] ShalokShalom opened #173 "Incorrect error messages"
I tried several issues, all they remain obfuscated to me, while other .Net online editors show it precisely:

![img_20180316_144253](https://user-images.githubusercontent.com/6344099/37524006-e34d0be2-2928-11e8-90e7-c90b71fa358b.png)

![img_20180316_144327](https://user-images.githubusercontent.com/6344099/37524012-e7ea4ed0-2928-11e8-9b71-508f00d86810.png)

[2018-03-16 14:14] cgravill commented on #173
Looks to work for me:

![image](https://user-images.githubusercontent.com/1099725/37525212-1f664238-2924-11e8-8967-3fb1e6079978.png)

Could you share your Azure Notebook? Perhaps something else is wrong there.

[2018-03-16 14:45] ShalokShalom commented on #173
https://fsharp-shalokshalom.notebooks.azure.com/nb/notebooks/TestNotebook.ipynb

[2018-03-16 16:15] cgravill commented on #173
That's very strange, with your notebook I see the same fairly helpful error message. It looks as if you're somehow running a different version of IfSharp than I am locally or on Azure Notebooks.

Did you recently create the notebook? Have you been using Azure Notebooks for awhile?

@crwilcox any idea how this might be happening? Should we raise this on https://github.com/Microsoft/AzureNotebooks/

[2018-03-16 16:32] ShalokShalom commented on #173
Yes, recently and on a new account.

[2018-03-16 16:56] ShalokShalom commented on #173
Does it make a difference if I created this account and Notebook with a slightly outdated browser?

[2018-03-16 17:06] cgravill commented on #173
Not that I'm aware of. It would be good to try another current browser as a test if you have one available.

I've seen this sort of usage work happily on Edge, Chrome, Firefox, and Safari.

[2018-04-12 18:51] ShalokShalom opened #174 "NullReferenceExceptionObject on memory limit"
The complete code:

[code]

See here the working case:

![screenshot_20180412_203637](https://user-images.githubusercontent.com/6344099/38697773-3791657a-3e93-11e8-9e09-52aab984d685.png)

Change data0.[1..10] into a higher value like [1..50] and you get the following error:

![screenshot_20180412_203924](https://user-images.githubusercontent.com/6344099/38697786-3e2df42a-3e93-11e8-9703-4b75c017cd5

[2018-04-12 18:54] ShalokShalom commented on #173
It works now fine in a current browser (on the desktop) so I see this as solved, thank a lot.

[2018-04-12 18:54] #173 closed

[2018-04-13 09:54] cgravill commented on #174
Looks like another instance of #143 on Mono.

[2018-04-14 16:27] ShalokShalom commented on #174
Yeah, might be. So this can be closed? Do you consider a switch to dotnetcore?

[2018-04-19 08:43] cgravill commented on #174
Sure, happy either way on closing. There's a self-contained test case on the other issue but once fixed it would be good to have people confirm.

I'd really like to get it fixed on Mono but haven't found anyone experienced with Mono debugging and available to help so far.

I'm also really interested in a dotnetcore build - I've started experimenting on other projects and it looks good. The challen

[2018-05-16 14:59] cgravill commented on #112
The newer storage:none mechanism of Paket would be a nice way avoid the IO noise while keeping everything safe: https://fsprojects.github.io/Paket/dependencies-file.html#Disable-packages-folder and pretty much the ideal I hoped for! While it's still marked as beta I've used it elsewhere particularly on netcore projects.

[2018-05-28 13:18] dgrechka commented on #143
@dsyme , I've created a fsharpc repro for the issue.

### System
Ubuntu 18.04
Mono JIT compiler version 5.12.0.226

### Repro steps

1. Download and unzip the [repro archive](https://grechka.family/dmitry/sandbox/143_fsharpc.zip)
2. Run run_repro.sh from it's directory.
(it compiles 3 files with fsharpc, then executes compiled exe to trigger the issue)

### Comments
The output that I get is in rep

[2018-05-30 10:19] cgravill commented on #143
Thanks @dgrechka that substantially narrows down the issue!

I'm able to reproduce on the Linux System System for Linux (https://www.mono-project.com/download/stable/#download-lin):

[code]

and results in:

[code]
(full log attached)
[repo_WSL.txt](https://github.com/fsprojects/IfSharp/files/2053516/repo_WSL.txt)

[2018-05-30 10:28] cgravill commented on #143
The current direct dependencies are:

[code]

I upgraded each to their latest:

[code]

Some details are changed but the overall result is the same:

[code]

[2018-06-22 15:51] #143 closed

[2018-06-22 15:51] #174 closed

[2018-06-22 15:51] #169 closed

[2018-06-22 15:52] cgravill commented on #169
(note the pull request closes the underlying issue but Azure Notebooks will require a later deployment)

[2018-06-22 15:55] cgravill commented on #143
Huge thanks to @dgrechka on further narrowing this issue. The workaround applied seems like a good tradeoff for now, and we can remove this later when the underlying issue is resolved in Mono.

[2018-06-23 14:27] xperiandri commented on #143
When will this come to Azure Notebook?

[2018-06-25 13:17] cgravill commented on #143
@xperiandri see this https://github.com/Microsoft/AzureNotebooks/issues/395#issuecomment-397894327 for the usual schedule on Azure Notebooks deployments.

[2018-07-06 09:31] cgravill commented on #156
I'm going to close this issue for clarity. There's a mix of parts that have been fixed, some others that are part of other libraries, and there's a proposed enhancement to make a helper script for FsLab. Happy to take a pull request with the two script form for the helper script as and when someone has time to work on it.

[2018-07-06 09:31] #156 closed

[2018-07-06 10:06] cgravill commented on #104
@dgrechka the Jupyter Comms may be useful for this: http://jupyter-notebook.readthedocs.io/en/stable/comms.html

[2018-07-06 12:04] dgrechka commented on #104
@cgravill Thank you! Indeed, Comms may better fit here rather than establishing separate communication channel. I'll try them.
Supporting Comms by the kernel side is also a step towards #126

[2018-07-08 12:34] cgravill opened #181 "Update to .net471 for .net standard support"
### Description

Some nuget packages aren't being fully referenced such as https://www.nuget.org/packages/Microsoft.ML/

I suspect this is because of the current .net461 target. Can we upgrade to provide wider support?

See https://github.com/Microsoft/AzureNotebooks/issues/409#issuecomment-401530030

[2018-07-08 13:48] cgravill commented on #181
I have a version mostly working on the branch net471. It needs more testing and some of the helper scripts need to be made framework version-insensitive.

When I actually reference a .netstandard2.0 NuGet it partially works but you need to manually add the reference to .net standard e.g.

[code]

Longer term this is going to cause people issues when netstandard has a new version. There's a Paket i

[2018-07-10 12:40] dgrechka commented on #104
I found that Jupyter protocol v5.1 supports [updating of display outputs](https://jupyter-client.readthedocs.io/en/stable/messaging.html#update-display-data) from kernel side.

Although it requires update the protocol from 4.0 to at least 5.1

Maybe that will be enough to achieve differed results display. I'm trying it right now.

[2018-07-10 16:18] dgrechka commented on #104
@dsyme  FYI, I managed to get some working results for `Async` values display.

The demo link:
[![Demo](https://img.youtube.com/vi/zMZqo2P6j5c/0.jpg)](https://www.youtube.com/watch?v=zMZqo2P6j5c).

When the Async is displayed it is started as a task on a separate thread. Upon result readiness the corresponding output is updated.
The approach uses protocol's v5.1 `update_display_data` messages. Nei

[2018-07-10 18:40] cgravill commented on #104
That looks like a great start. Is the plan to get Async of a single value first then see if AsyncSeq is possible afterwards?

[2018-07-11 08:58] dgrechka commented on #104
Yes. The plan is to make several small incremental changes, delivering some value.
They are easier to review. Async of single value is the fist step.

[2018-07-20 14:32] cgravill commented on #181
I've merged these changes in so it should be a bit easier to interact with .net standard NuGets. You'll still need the manual #r to netstandard for now and there's further work to be done on getting native library references but that's either a manual operation or Paket may be able to help.

[2018-07-20 14:32] #181 closed

[2018-07-29 20:14] baronfel commented on #170
I saw that @cprieto has done this already: https://github.com/cprieto/docker-jupyter/blob/master/fsharp/Dockerfile

perhaps they'd be willing to upstream it? or at least this project could point to their image?

[2018-07-29 20:19] cprieto commented on #170
It will be my pleasure, my image is based in Alpine and it is very compact and small (around 580MB, sorry, Mono is really big but this is small compared with docker images around, ~1.1GB).

If there is no objection, I can PR the Dockerfile and we can let people give it a try.

[2018-07-29 20:32] baronfel commented on #170
In addition, if there's a concern about image size, it might be possible to do work on this repository to make it compatible with dotnet core, and then deploy a self-contained deployment on top of the ~90MB `2.1.2-runtime-alpine` image.

[2018-07-29 22:37] baronfel commented on #170
related: https://github.com/fsprojects/IfSharp/pull/185

[2018-07-30 08:16] cprieto commented on #170
@baronfel I see it there is a PR for this, as soon as it is merged (the dotnet core support) I will give a try, I probably can save around 100MB (I guess, approx) from the image size with donet core.

[2018-07-30 11:33] cgravill commented on #170
Very happy to get improvements to using F# Jupyter under Docker.

It might make sense to separate out these changes, better support for existing usage, on both .NET and Mono. Then potentially to use .NET Core in the future. The PR for .NET Core support looks like a great start but will need more around supporting plotting and other helpers.

Related I just did a v3.0.0 release which updates from t

[2018-07-30 12:19] cprieto commented on #170
I just created a new clean image (using my Dockerfile) and I still see the issue you are pointing at (#143), in fact, the kernel is dying when displaying `sigbdata`.

I will give it a try later when I have a little more of time to see if it is related to the original issue.

[2018-07-30 13:02] AndreiDegtiarev opened #186 "For Plotly chart library implement make_subplots functionality"
In comparison to IPython the subplots functionality I'm missing mostly in IfSharp
Target behavior see [https://plot.ly/python/subplots/](https://plot.ly/python/subplots/)

[2018-07-30 13:16] cgravill commented on #170
@cprieto did you switch to the new release https://github.com/fsprojects/IfSharp/releases/download/v3.0.0/IfSharp.v3.0.0.zip ?

[2018-07-30 13:19] cgravill commented on #186
Subplots would be great. In Python is this that implemented by IPython or the underlying libraries? I'm wondering if the right place for this is in XPlot instead. There's a issue that looks relevant:

https://github.com/fslaborg/XPlot/issues/49

[2018-07-30 14:00] AndreiDegtiarev commented on #186
You are right, it seems that the issue [fslaborg/XPlot#49](https://github.com/fslaborg/XPlot/issues/49) describes the same feature, except that I’m quite sure, that this feature doesn’t exist at all. Some steps towards subplots functionality were already done: see Chart.ShowAll. But in my case this function just opens a new tab in the browser and doesn’t not plot charts directly in the notebook. D

[2018-07-30 15:34] cgravill commented on #186
Yes, my guess is you'd need to do something like the linked issue. Rather than ShowAll you want to construct a single figure like is done in the Python. Then IfSharp will be able to display it. If ShowAll does what you need but pushes the result to the wrong place there decent change XPlot can be adjusted to get what you're after.

[2018-08-01 12:07] godu commented on #170
@cgravill I think, in the first place, we should setup CD to auto-publish a docker image for each tags. Then we could optimize images sizes or build two images (mono and dotnetcore).

As i said in my issue, we could use travis or docker-hub to do this job.

I publish a few of them manually here https://hub.docker.com/r/godu/ifsharp/tags/.

@cprieto Good job 👍 use alpine is a hard work to do. But w

[2018-08-01 12:09] cprieto commented on #170
Thanks @godu I have some spare time this weekend so if nobody minds I can give a try to the auto publishing of this thing.

[2018-08-01 19:30] godu commented on #170
@cprieto Sorry, i did it :) . You can review my PR here https://github.com/fsprojects/IfSharp/pull/187

[2018-08-02 10:45] cgravill commented on #170
Very happy to switch to CD, I added some questions on the PR about how to manage accounts.

[2018-08-02 11:09] dsyme commented on #104
Wow, this is fantastic

[2018-08-02 11:12] dgrechka commented on #104
Thank you!
I'm implementing AsyncSeq display right now...

[2018-08-07 08:45] dgrechka commented on #104
The asyncSeq display prototype is ready!

The demo link:
[![Demo](https://img.youtube.com/vi/ShH7whL57iU/0.jpg)](https://www.youtube.com/watch?v=ShH7whL57iU).

Now I'm cleaning up the code and will do PR to close the issue.

[2018-08-07 09:06] cgravill commented on #104
That's very nice!

Will this be compatible with Angara Charting as well and so we can have e.g. simulator creating results and progressively display results?

[2018-08-07 11:01] dgrechka commented on #104
Right now it appends the output upon fetching next element from asyncSeq.

What I can propose for now (in the situation of limited time) is to provide a switch which toggles the  AsyncSeq display modes.

The modes:

1) Replacing the recent produced element upon next element readiness
1) Appending the next produced element to the output (accumulating elements)

For the use case of updating the char

[2018-08-07 13:13] cgravill commented on #104
That makes sense, you're note making a `AsyncSeq<Data>` and feeding to `Chart`. I can see how that makes it specific.

What syntax do you think is possible? If its a per invocation that seems OK. It's potentially awkward if it's a global state latch.

If the calculations are fairly granular, then redrawing the chart is likely to be OK.

Longer term something with a virtual DOM (e.g. https://github

[2018-08-08 13:29] dgrechka commented on #104
Now I think that it is more convenient to see the latest single value of AsyncSeq by default.
There are more use cases for this.
And for the case of accumulation all of the AsyncSeq elements on a screen we can add special call like
[code]

I did some experimenting with showing a recent value of AsyncSeq.
While the text updates are fine (e.g. time value updates in the demo below), the chart blinks

[2018-08-08 16:34] dgrechka commented on #104
@dsyme Being the initial creator of the issue what do you expect from AsyncSeq display?

* Displaying all of the pulled elements one by one, accumulating them on screen?
* Displaying the recently pulled element?
* Updating the data inside the charts?

What is your use case?

[2018-08-09 10:54] cgravill commented on #104
A lot of the UI blinking is caused by going from:

Empty
State at time 1
Empty
State at time 2

I'm not sure how much control we have in the Jupyter context but would it be possible to avoid these intermediate steps, or say reserve the previous size? Potentially document fragments would help https://developer.mozilla.org/en-US/docs/Web/API/DocumentFragment ? I've used that on other projects to avo

[2018-08-14 15:43] dgrechka commented on #104
I created dynamically updated Angara.charts prototype.

[![Demo](https://img.youtube.com/vi/DZjZ4tYjoG8/0.jpg)](https://www.youtube.com/watch?v=DZjZ4tYjoG8).

Cleaning up the code for pull requesting...

[2018-08-16 13:15] cgravill commented on #104
Looks really promising.

The trade-off seems OK for initial support: by default work OK for test etc. but for animated plotting you have to do a little library specific effort.

[2018-08-23 16:02] dsyme commented on #104
This is amazing! :)

[2018-09-11 18:16] caxelrud opened #191 "Dynamic Chart with Angara"
### Description
I am trying to use dynamic charts with Jupyter/Angara (like data streaming).
I am able to partially do it with the following code but, at every interval, the full chart disappears and then appears again (not good):

` AsyncSeq.intervalMs 5000
|> AsyncSeq.take 20
|> AsyncSeq.map (fun _ ->
        let r1=rand.Next(minValue=1,maxValue=10)
        let x = [| for i in 0..99 -> float(i)

[2018-09-12 09:18] cgravill commented on #191
Hi, the code for @dgrechka demo is over on the pull request #190. There was an issue using it on Mono which Dmitry since resolved. You can clone the code from that pull request and run from there or I'm actually just looking at merging in the change to master now.

You're exactly right that missing `Angara.Charting.AsyncSeq.fsx` is what's causing the issue. At the moment we need to do a bit of lib

[2018-09-12 10:08] cgravill commented on #191
This is now merged to master and there are some examples at the end of the feature notebook - https://github.com/fsprojects/IfSharp/blob/master/FSharp_Jupyter_Notebooks.ipynb

[2018-10-10 19:14] roguetrainer commented on #146
@cgravill - was the ability to load packages into IfSharp notebooks from github ever added, in the end? I wanted to take a crack at installing the newly open-sourced https://github.com/dotnet/infer. Thanks for any  advice.

[2018-10-10 20:00] roguetrainer commented on #146
Apologies. As it turns out, we don't need to access `Infer.NET` from github, because it is on nuget, here: https://www.nuget.org/packages/Microsoft.ML.Probabilistic/
So the standard nuget approach works:
[code]
Very handy.

[2018-10-11 12:36] cgravill commented on #146
@roguetrainer no problem glad you figured out an approach. BTW I hadn't realised embedding the version number in the name works. What I use is (not explicitly tested):

[code]

[2018-10-11 14:05] cgravill commented on #146
Also, in case you're interested, then the files from GitHub was implemented (by @lucymukh in #179) . As an example what you can do is:

![screen shot 2018-10-11 at 15 00 05](https://user-images.githubusercontent.com/1099725/46809454-66cefe80-cd66-11e8-85f5-ca2f4248163c.png)

With thanks to @mndrake :)

[2018-10-11 14:06] cgravill commented on #147
We now have GitHub dependencies via #179 so I'm going to close this issue.

[2018-10-11 14:06] #147 closed

[2018-10-11 19:17] roguetrainer commented on #146
Very helpful example. Thanks @mndrake & @cgravill.

[2018-10-12 19:36] roguetrainer commented on #146
Except, @mndrake & @cgravill, I tried the following,
[code]
and there are no errors. But I cannot find the file to load!? Will keep looking...
[code]

[2018-10-12 19:39] roguetrainer commented on #146
@mndrake & @cgravill. Sorry. Found it:
[code]

[2018-10-18 09:58] secana opened #192 "Loading Javascript results in "undefined" functions"
### Description

When a JavaScript library is loaded, the exposed functions cannot be called because the are undefined.

### Repro steps

1. Step A
Load some arbitrary JS library: `@"<script src=""https://unpkg.com/sweetalert/dist/sweetalert.min.js""></script>" |> Util.Html |> Display` (Lib to show "nice" alerts)

2. Step B
Try to execute some function from the JS library: `"""<script type="text/j

[2018-10-31 17:09] cgravill commented on #192
So what's happening here is that the Jupyter front-end uses RequireJS and the library Sweet Alert library is configured to adapt to this. There are two approaches to dealing with this. One is that you can make use of RequireJS more like this:

https://www.stefaanlippens.net/jupyter-custom-d3-visualization.html

Sketched implementation:

[code]

[code]

![image](https://user-images.githubuserconten

[2018-10-31 17:10] #191 closed

[2018-11-01 09:03] secana commented on #192
Hi @cgravill,

I got it working with your second approach (there is a closing </script> missing). Thanks a lot for the answer. Without it, my project idea would have been dead.

Regards,
Stefan

[2018-11-02 09:21] cgravill commented on #192
Great, glad it was useful. Funny my test worked without closing </script> in my browser!

I had a few thoughts of ways we could make this more usable (note they're all proposals, not implemented):
![sweetalert](https://user-images.githubusercontent.com/1099725/47905680-982b7d80-de7f-11e8-87cc-dabad51e09e1.PNG)

The wrapped functions is the easiest to implement but would be standardising use of glo

[2018-11-02 11:38] tpetricek commented on #192
All my IFSharp experiments involving JavaScript were somewhat hacky - so I guess that's what the standard situation is :-). I think having helpers like the ones in your first example would be a good starting point - it should help with getting some common scenarios to work (and we could see if people actually use it, how and whether it works for them before trying to do something more clever...)

[2018-11-06 13:45] cgravill commented on #192
Great, I've merged that syntax and I'll go ahead and close this issue. We can do clever things later if they seem needed.

[2018-11-06 13:45] #192 closed

[2018-11-26 16:39] roguetrainer commented on #146
FYI, the path to `DeedleFormat.fs` that works is slightly different to yours Colin:
`#load "paket-files/`**`github`**`/mndrake/IfSharpLab/src/DeedleFormat.fs"`

[2018-11-26 18:37] cgravill commented on #146
Ah thanks for the reminder, I might have a stale file from an earlier version of Paket.

[2019-01-15 02:53] prosconi commented on #126
@IvanAntipov that's pretty neat, but the implementation should integrate with the existing widget system

Is anyone else working on this?

I think I finally understand the protocol that is being used. I have coded up a prototype and pasted a screenshot below.

![image](https://user-images.githubusercontent.com/5949170/51155815-cf86b500-1846-11e9-8f91-f30b0d960503.png)

[2019-01-15 17:07] cannorin opened #195 "MathJax not displayed on Print Preview and Download as HTML when used with XPlot.Plotly"
### Description

~~LaTeX equations `$..$` inside Markdown blocks are rendered in the notebook with MathJax, but not in the print preview and the downloaded HTML.~~

**When used with `XPlot.Plotly.fsx`**, LaTeX equations `$..$` inside Markdown blocks are rendered in the notebook with MathJax, but not in the print preview and the downloaded HTML.

### Repro steps

1. Change the cell to Markdown

2.

[2019-01-18 09:41] cgravill commented on #126
I don't think anyone is working on this and it looks like you've made some great progress.

[2019-01-18 10:08] cgravill commented on #195
I've tried this in a couple of places and print preview seems to be working for me:

![image](https://user-images.githubusercontent.com/1099725/51379897-6a61e680-1b08-11e9-9bec-d3faea98d09f.png)

It's behaving right on Edge / Windows 10 and Safari / macOS.

Does LaTeX work correctly for you in a Python notebook when you download the html?

[2019-01-18 11:10] cannorin commented on #195
@cgravill It seems not to be the simplest repro.
![screenshot from 2019-01-18 19-58-26](https://user-images.githubusercontent.com/13620400/51382978-86db3e80-1b5b-11e9-8d7c-9deacf35a2a1.png)
![screenshot from 2019-01-18 20-00-52](https://user-images.githubusercontent.com/13620400/51383156-fc470f00-1b5b-11e9-80e1-24c7bce86c46.png)

It turned out that the `XPlot.Plotly.fsx` is actually causing the pr

[2019-01-18 11:12] cannorin commented on #195
I've updated the issue accordingly.

[2019-01-18 11:41] cgravill commented on #195
Ah it's probably this then:
https://github.com/plotly/plotly.py/issues/515

[2019-01-18 11:45] cannorin commented on #195
Ahh so is it not related to IFSharp? Sorry if so...

[2019-01-18 11:54] cgravill commented on #195
It's in-between. The way, and others, load XPlot/Plotly looks like it's causing the issue. It looks like they have a new flag that might help us. Needs investigating.

[2019-01-20 21:34] cgravill commented on #195
I found a potential workaround for this of hiding MathJax (used for LaTeX) from Plotly so it won't mangle it. It follows on from what I did with @npmurphy who originally integrated XPlot into IFSharp. It works in the notebook and on print preview for me:

![image](https://user-images.githubusercontent.com/1099725/51445206-79a88600-1cfa-11e9-83ce-49d05a3c50a3.png)

@cannorin if you get a chance cou

[2019-01-21 02:58] cannorin commented on #195
@cgravill Thanks! I'll try later today.

[2019-01-22 16:55] cgravill commented on #195
Great, thanks for testing. It looked good on my other tests too so I'll go ahead and merge.

On the F# highlighting, I don't think F# highlighting on print preview has ever worked. It's probably falling back on styling it as Python. Last time I looked into this sort of thing on #105 while I easily adjusted export the templates needed configuring inside the Python distribution. That seemed messy so

[2019-01-22 18:04] cannorin commented on #195
Thank you! Now I'll close this issue as solved.

Hmm... It looks really complicated. I think I might be able to override it with something like highlight.js. It's just an idea and will be a dirty workaround, though. Anyway, thanks for fixing this!

[2019-01-22 18:04] #195 closed

[2019-02-24 11:35] cgravill commented on #104
I think this issue is complete in terms of original scope. There's a very cool example from @SpaceAntelope of what this feature enabled:
https://areslazarus.com/archive/cntk-102-hidden-layers-live-progress-report-widget/

[2019-02-24 11:35] #104 closed

[2019-03-09 18:14] zakaluka opened #199 "Add Jupyter extensions to docker image"
### Description
Add Jupyter extensions to docker image.

### Expected behavior

Be able to use extensions, similar to how it works through Azure Notebooks (i.e. with the configurator extension)

### Actual behavior

There are no extensions.

[2019-03-10 22:31] Bob-McCrory opened #201 "Doesn't work with JupyterLab"
Just installed JupyterLab. When I try to run an F#/Jupyter notebook that works in Jupyter, it hangs in JupyterLab, getting stuck and showing the error message in the .png below over and over.

![image](https://user-images.githubusercontent.com/20650631/54092416-f940f180-4348-11e9-83fa-97d6e3c761cc.png)

Has IFSharp been tested on JupyterLab yet?  Is there anything I can do to help?

* Windows 10
*

[2019-03-12 11:31] cgravill commented on #201
I'm not aware of people using F# with JupyterLab but it would be great if was made possible. I took a quick look and, for me, there's a more detailed exception which is likely to be involved in your restarts:

[code]

What that suggests is there's new or adjusted messages in a JupyterLab context that would need responding to. It's probably a case of comparing the current protocol for Jupyter noteb

[2019-03-12 17:28] Bob-McCrory commented on #201
Thanks for your reply. Given the improvements in JupyterLab vs. Jupyter, it would be great if F# could keep up.

Unfortunately, I'm not competent to help you with the coding, at least without a lot of hand holding.  I just code simulations in F#, so systems  work is beyond me. But if there is some way I can help, like in testing or some such, I would be glad to.

Thanks again.

Bob

Robert T. McCr

[2019-03-18 14:37] rudihorn opened #203 ".NET Core + Intellisense"
### Description

I'm very interested in getting the .Net core version of IFsharp running and one of the issues is Intellisense not working. I'm aware that this is experimental, but I've done some diagnosing to try and find the source of the issue. With a little help I might be able to make a PR to fix this problem.

Currently when an Intellisense request is issued, it gets to `GetDeclarations` in

[2019-03-18 15:12] rudihorn commented on #203
Upon looking a little closer I'm assuming the `GetProjectOptionsFromScript` produces the `script.fsx` file and that the contents of `source` in `GetDeclarations` is not correct (currently only contains `Paket.fsx` in its contents). I will try to look into this a bit further...

[2019-03-18 16:09] rudihorn commented on #203
In reference to https://github.com/fsharp/FSharp.Compiler.Service/issues/847, it seems to be that adding `assumeDotNetFramework = false` solves the problem. Is it worth trying to implement a workaround for IFSharp?

[2019-03-18 16:36] rudihorn commented on #203
I've implemented a hack in a fork of the project: https://github.com/rudihorn/IfSharp

[2019-03-18 16:41] rudihorn commented on #203
Interestingly this seems to also fix type providers :)

[2019-03-18 20:27] cgravill commented on #203
Great to see this getting use - it is experimental but it seems feasible to sort out the issues.

On the Intellisense, it's actually working for me on a Windows machine:
![image](https://user-images.githubusercontent.com/1099725/54559566-3a27ae80-49b8-11e9-94d5-3de8c089a897.png)

I don't know the history on the `"script.fsx"` approach, but that file doesn't actually get read:
https://fsharp.github

[2019-03-19 10:50] rudihorn commented on #203
I do have Mono 5.18.1.0 installed, as I wasn't able to get IfSharp to compile without it. There are some general issues though, like I've been having problems getting type providers to work (I will open a separate issue regarding, though I feel it is related). Is it worth adding this code as a conditional and then submitting a PR?

[2019-03-19 12:31] cgravill commented on #203
Yes, please do put in a PR. Based on the linked issue, you've identified a real issue and fix, the experimental .NET Core Intellisense is only working in some simple cases as presently implemented.

[2019-03-19 12:37] cgravill commented on #203
Btw, we might need more of the fixes others have made: https://github.com/fable-compiler/Fable/commit/10dace4e361cd34028540fd91bdc33510b1c6e8c but perhaps start with the minimal fix that works for you for now?

[2019-03-19 19:21] cgravill commented on #199
Closed via #200

[2019-03-19 19:21] #199 closed

[2019-03-20 10:41] rudihorn opened #205 ".NET Core + Type Providers"
### Description

There is some issue loading the correct libraries to use Type Providers on .NET Core. While this is directly relevant to Type Providers, the issue itself is broader and should be solved.

### Repro steps

Run the following code:
![image](https://user-images.githubusercontent.com/6114830/54678222-84b24380-4afc-11e9-874f-994777ae5b7a.png)

The problem can slightly be improved by man

[2019-03-20 10:41] rudihorn opened #206 ".NET Core + Type Providers"
### Description

There is some issue loading the correct libraries to use Type Providers on .NET Core. While this is directly relevant to Type Providers, the issue itself is broader and should be solved.

### Repro steps

Run the following code:
![image](https://user-images.githubusercontent.com/6114830/54678222-84b24380-4afc-11e9-874f-994777ae5b7a.png)

The problem can slightly be improved by man

[2019-03-20 10:42] rudihorn commented on #205
Accidentally opened twice

[2019-03-20 10:42] #205 closed

[2019-03-20 10:44] rudihorn commented on #206
The complaint about `netstandard.dll` is a bit more worrying, as it refuses to load the netstandard library when you try to force load it. I'm assuming this is an issue with the setup of the environment.

[2019-03-20 12:15] cgravill commented on #203
Closed via #204

[2019-03-20 12:15] #203 closed

[2019-03-20 12:22] cgravill commented on #206
Does the type provider work correctly in an F# Interactive session outside of IFSharp? My understanding is that each of the parts is only recently working on .NET Core.

Getting this working also would be great!

[2019-03-20 13:11] rudihorn commented on #206
Yes and interestingly it is actually possible to execute code such as:

![image](https://user-images.githubusercontent.com/6114830/54686621-a23dd800-4b11-11e9-8c43-51e56d4a5c52.png)

It is more the library implementation that is causing issues.

[2019-03-21 12:57] rudihorn commented on #206
The main difference I can see between `fsi.exe` and IfSharp is that `fsi.exe` calls `FsiEvaluationSession.GetDefaultConfiguration` with `useAuxLib=true`, while IfSharp sets it to false. Setting it to true in IfSharp causes an exception to be thrown:

   at Microsoft.FSharp.Core.PrintfModule.PrintFormatToStringThenFail@1647.Invoke(String message)
   at FSharp.Compiler.Interactive.Shell.FsiEvaluatio

[2019-03-22 10:06] rudihorn commented on #206
Turns out this might have been key. I added a forced reference to `Microsoft.NETCore.App` version 2.2.3, and it seems to now be "somewhat working". Previously it would automatically set the a reference to that library to version 2.2.0 in IfSharpNetCore.runtimeconfig.json, but with the additional reference it explicitly has a dependency of 2.2.3 and works.

It still requires the manual loading of s

[2019-03-26 17:28] dsyme commented on #170
OK it's working, images here https://cloud.docker.com/u/fsprojects/repository/registry-1.docker.io/fsprojects/ifsharp

[2019-03-26 17:43] cgravill commented on #170
Great, thanks @godu for getting this going and @dsyme & @gbaydin for finishing it off

[2019-03-26 17:43] #170 closed

[2019-03-26 20:48] dsyme opened #213 ""netstandard not found or is invalid""
### Description

`"netstandard.dll not found or is invalid"` is shown

![image](https://user-images.githubusercontent.com/7204669/55031943-b00ac600-5007-11e9-8295-ee72c780e653.png)

### Steps

On windows (or equivalent on linux)

1. `docker run -v %cd%:/notebooks -p:8888:8888 fsprojects/ifsharp`
2. open `http://localhost:8888/notebooks/FSharp_Jupyter_Notebooks.ipynb`

Expected: no errors

[2019-03-26 21:06] cgravill commented on #213
Note there's some overlap with #206 and @rudihorn has an improve situation via #207

That looks like an error with the error highlighting, what platform are you on?

On Windows I get down to the parallel programming section:

![image](https://user-images.githubusercontent.com/1099725/55033293-bbabbc00-500a-11e9-9c49-cd45b77d3052.png)

[2019-03-26 21:09] cgravill commented on #213
I'm then able to make a change and do this:

![image](https://user-images.githubusercontent.com/1099725/55033502-3d9be500-500b-11e9-8bfe-a42681f5b7b4.png)

I guess in .NET Core we should be automatically referencing netstandard? I've not tried the experimental .NET Core setup on Windows - working on other things currently.

[2019-03-26 21:45] rudihorn commented on #213
Yeah I have noticed that with #207 it is only an Intellisense/highlighting issue but still works.

[2019-03-27 09:48] rudihorn commented on #206
Should libraries which are normally loaded during common projects such as "System.Runtime.Extensions.dll" be loaded by default though? Especially if they are needed by something like Type providers?

[2019-03-27 17:25] rudihorn commented on #213
A workaround this could be to have a similar workaround as is done to load `System.Runtime.dll` https://github.com/rudihorn/IfSharp/tree/netstandard. There should be a nicer way of doing this though.

[2019-03-27 20:18] cartermp commented on #213
This is just another symptom of the larger problem we're working on solving for FSI on .NET Core. The problem ends up getting deep, as we need to read both facade and implementation assemblies in an interactive process. Implementation assemblies can and will change over time, so you need a separate resolver either in NuGet or the .NET SDK to tell you what implementation assemblies are correct for

[2019-03-27 21:07] rudihorn commented on #213
@cartermp Might it be worth just determining the currently loaded assemblies and then using those?

[2019-03-28 17:39] cgravill commented on #213
Thanks for the caution @cartermp is there an issue we could track around this?

[2019-03-28 17:48] dsyme commented on #213
We're getting this error on .NET Framework/Mono too, so I don't think it's related.  More likely got to do with locating Facades on Mono.

[2019-03-31 14:24] cgravill commented on #201
@Bob-McCrory I've had a go at a basic fix on #214 and I'm now able to load. Give a go.

Note there are outstanding issues in Jupyter Labs:
- Code highlighting not enabled
- Code completion not enabled
- Plotting results not shown

[2019-03-31 16:23] Bob-McCrory commented on #201
Thanks, Colin. I'll take a shot at it when I'm back home tomorrow.

Hope the rest of your weekend is great!  You've improved mine.

Bob

Robert T. McCrory, FSA
1532 East McGraw Street
Seattle, WA 98112-2134
206-323-7312
bobmccrory@outlook.com<mailto:bobmccrory@outlook.com>

________________________________
From: Colin Gravill <notifications@github.com>
Sent: Sunday, March 31, 2019 7:24 AM
To: fspr

[2019-04-04 08:01] cgravill commented on #201
I've done a few more checks and it seems OK so I've merged the pull request #214

[2019-04-04 08:01] #201 closed

[2019-04-14 21:41] smoses2 opened #215 "IF# freezes after plotting in external window with RProvider"
I am working through Mathias Brandewinder's "Machine Learning Projects" book  using IF#.  When I call the R.hist() as below, I do get the chart to display in an external window, but the top of the chart window reads "Unresponsive", and IF# locks up and needs to be closed down and restarted.

#load "Paket.fsx"
Paket.Version [ "FSharp.Data", "3.0.1"
                         "RProvider", "1.1.22"]
#l

[2019-04-15 17:01] cgravill commented on #215
Ah nice book! I made notebooks of some parts of it during a workshop with Mathias.

There are lots of options, one is you can render to an image rather than an interactive window. A quick
and messy version:

`Ensure you've installed a compatible version of R first. 3.4.4 worked for me https://cran.r-project.org/bin/windows/base/old/3.4.4/`

[code]
[code]
[code]

[code]
![image](https://user-images

[2019-04-16 01:12] smoses2 commented on #215
That is great Colin.  I'll give that a try.

I'm also attending an NDC Workshop with Mathias in May.

[2019-04-16 01:12] #215 closed

[2019-04-17 12:31] cgravill commented on #215
Glad it helped, Mathias has a new talk on modelling complex systems (D&D) in F# that I really enjoyed too

[2019-04-17 12:37] cgravill commented on #215
@dsyme this a good example of our discussion about where the code between IF# and libraries should exist. While the above works (for me at least) then it's quite fiddly. I saw you're trying to revitalise R in .net and it's the kind of thing that makes a lot of sense in a notebook context.

We could add a helper .fsx for R in notebooks but maintaining that for every possible library is a lot of res

[2019-04-19 02:51] smoses2 commented on #215
@cgravill - thanks again. Had a chance to finally try your code fix and it worked perfectly for both R plotting and for FSharp.Charting (piped to Chart.Save).  Really appreciate the help - without inline plots, would be tougher to use F# notebooks as a python or R-based notebook replacement.

 Do I need to release resources/close device with FSharp.Charting as you did for the R plotting with R.dev

[2019-04-19 09:50] cgravill commented on #215
Great, glad it helped R via a type provider is a pretty nice match for notebooks.

You shouldn't generally need to be so explicit about resources - I don't know why it's needed in this case with R but I found the solution in https://fslab.org/RProvider/Charts-QuickStart.html It might be worth raising the question about api over there.

If what you're doing with FSharp.Charting is working that's gr

[2019-04-21 06:26] zakaluka opened #217 "Docker build failing on "GenerateDepFiles""
### Description

The docker build is failing on step 29, due to an unexpected error when executing `GenerateDepFiles`.

### Repro steps

1. Clone repo

2. docker build .

### Expected behavior

Docker build succeeds.

### Actual behavior

Docker build fails on step 29.

### Known workarounds

dotnet/core#2540

### Related information

* Operating system: Windows 10
* Branch: master
* .NET Runtime,

[2019-04-21 06:27] zakaluka commented on #217
PR to correct issue: #216

[2019-04-21 08:35] cgravill commented on #217
Thanks for applying the workaround

[2019-04-21 08:35] #217 closed

[2019-05-06 20:16] cgravill commented on #213
I think the original issue is resolved via fixes in #218 (which also enables XPlot.plotly and other Paket goodness). Give it a go and re-open if there are issues.

We now default reference netstandard on the netcore build as well. Is there any official guidance if that's the right fix? It seems pragmatically a good idea for compatibility but will silently referencing netstandard bite us later?

[2019-05-06 20:16] #213 closed

[2019-05-06 20:34] cgravill commented on #206
I've add the automatic referencing of netstandard in #218 so the highlighting issue should be solved. I'm not sure the right answer about automatically referencing other libraries, it's convenient but may turn out problematic and a breaking change if we have to withdraw it later...

[2019-05-06 20:35] cgravill commented on #206
Btw I also made the Paket helper script work better in netcore, it might help getting the right dlls referenced too.

[2019-05-13 11:25] Jaygem opened #219 "Questions about plotting with FsLab (Xplot)"
How do you plot FsLab plots inline ?
I've tried to read issues everywhere and none explains how to do, how it is implemented or so

[2019-05-13 12:42] Jaygem commented on #219
I found an answer by adding this Display Printer :
[code]
It works with GoogleCharts, haven't tried it yet with Plotly

[2019-05-13 12:44] zyzhu commented on #219
See a sample snippet
[code]

[2019-05-13 12:46] zyzhu commented on #219
BTW, I only use Deedle and XPlot packages individually. The packages directly from FsLab are not up to date yet.

[2019-05-13 12:57] zyzhu commented on #219
Forgot to mention that you need to run `#load "XPlot.Plotly.fsx"` first.
That file came with the source of IfSharp. Similar file exist for `XPlot.GoogleCharts`

[2019-05-13 13:04] Jaygem commented on #219
Worked with me, thanks !
I had assumed FsLab was up to date

[2019-05-13 13:04] #219 closed

[2019-05-13 13:47] cgravill commented on #219
There are some more examples in the Feature Notebook here: https://github.com/fsprojects/IfSharp/blob/master/FSharp_Jupyter_Notebooks.ipynb

[2019-05-19 13:46] cgravill opened #220 "Using Angara.Charting fails on missing files"
### Description

Using Angara.Charting fails on missing files e.g. https://cdn.rawgit.com/predictionmachines/Angara/0.3.4/dist/Angara.Html.css

### Repro steps

[code]

[code]

various errors on console and breaks codemirror

[2019-05-19 13:47] cgravill commented on #220
@dgrechka have the files been moved? The closest I can see is https://github.com/predictionmachines/Angara/

[2019-05-19 14:18] cgravill commented on #206
I gave this a go with the latest and it seems to working for me now:
![image](https://user-images.githubusercontent.com/1099725/57983334-6d35ff00-7a48-11e9-8d4a-c3a41c32d069.png)

The error highlighting looks to be a false positive:
![image](https://user-images.githubusercontent.com/1099725/57983343-8b9bfa80-7a48-11e9-8759-fdc551fe4c87.png)

Based on this issue: https://github.com/dotnet/fsharp/is

[2019-05-20 09:43] dgrechka commented on #220
Hi @cgravill , I believe this is because cdn.rawgit has reached its end of life.

Perhaps, we should switch to https://www.jsdelivr.com/rawgit

Adding @sergey-b-berezin, @msdmkats, @dvoits, @msdvoits to be aware of the issue.

[2019-05-20 10:00] cgravill commented on #220
Ah interesting thanks @dgrechka yes we should definitely switch!

I made an interesting discovery:
https://cdn.rawgit.com/predictionmachines/Angara/0.3.3/dist/Angara.Html.css
correctly resolves. Did 0.3.4 get pulled?

[2019-05-21 10:19] dgrechka commented on #220
@cgravill , we've pushed the corresponding release tag to the github (it was missing).
Thus everything should work now with v0.3.4.
At least until October 2019 while rawgit.com still works

[2019-05-21 12:11] cgravill commented on #220
Great, yes that's working for me now. Thanks for quickly addressing it.

I'll be able to add support in the experimental .NET Core version too now.

Is the dependency on rawgit.com a general issue for Angara or specific to the integration in IF#? The only place I can see rawgit.com in this repository used explicitly in Angara.Charting.Dynamic.fsx which we're not using here. I'll fix that one, but

[2019-05-27 08:04] aprooks opened #223 "Javascript interop should provide element for js callbacks"
I've been trying to implement something like this https://gist.github.com/fabriziopandini/7e8efdd7063a518a2d2d#file-chartjs-ipython-py-L30. IPython provides `element` in JS callback which is an output cell. Which in turn allows better customization and improved workflow with some JS libraries

Browsing through issues I've found #126 to be very close to what I'd like to achieve.

[2019-05-27 11:15] aprooks opened #225 "LoadGlobalJavaScript embeds javascript code which crops notebook"
### Description

Please provide a succinct description of your issue.

### Repro steps

Please provide the steps required to reproduce the problem

1. Step A

2. Step B

### Expected behavior

Please provide a description of the behaviour you expect.

### Actual behavior

Please provide a description of the actual behaviour you observe.

### Known workarounds

Please provide a description of any k

[2019-05-27 11:15] aprooks opened #226 "LoadGlobalJavaScript embeds javascript code which crops notebook"
If external js is loaded via LoadGlobalJavaScript whole Javascript get's embedded into a notebook, and then it won't be viewable via GitHub or nbviewer.

See repro in #224

[2019-05-27 11:23] aprooks commented on #225
duplicate

[2019-05-27 11:23] #225 closed

[2019-06-06 13:57] fradav opened #227 ".NET Core : The type 'Stopwatch' is not defined in 'System.Diagnostics'."
### Description

Some standard library routines aren't available
like `System.Diagnostics.StopWatch()`
no problem via `fsi.exe`

### Repro steps

[code]
Open a new fsharp notebook
and type in a cell :
[code]

### Expected behavior

Same as fsi.exe :

[code]

### Actual behavior

![image](https://user-images.githubusercontent.com/701587/59037966-98a35100-8872-11e9-8c69-9d39d5cdeb43.png)

### Known

[2019-06-07 08:54] cgravill commented on #227
I get the same on Windows. The hosted fsi instance appears not to have the default opens.

As a workaround you can do this:

[code]
![image](https://user-images.githubusercontent.com/1099725/59092678-123a4e00-890a-11e9-91f2-088258d5d60a.png)

We should probably figure out what fsi is default opening and do the same for the .NET Core version.

[2019-06-07 12:12] Jaygem opened #228 "Proposal : Making it a dotnet tool"
It would be interesting to add IfSharp as a dotnet tool to ease the installation.
I'm not sure if it would be possible but here is the [doc](https://docs.microsoft.com/fr-fr/dotnet/core/tools/global-tools-how-to-create) for that

[2019-06-07 12:33] cgravill commented on #228
It's definitely possible, some of the Microsoft Quantum folks have another approach with Jupyter here where they do exactly what you're suggestion: https://github.com/Microsoft/jupyter-core/

One of the considerations is how to handle the Python requirement. One approach, instead of a dotnet tool is to install directly into a Python package manager. The other route is the Julia notebook system htt

[2019-06-07 12:42] Jaygem commented on #228
I will ask the microsoft Quantum devs if F# is in their project.
From reading some of their There's a C# Kernel made by the SciSharp people who's considered to be added in their repo.

[2019-06-07 14:19] cgravill commented on #228
It's not yet. I've spoken with @cgranade (+others) and there's definitely some overlap. I've a background interest in trying to spin up an .NET Core F# kernel within the system which would be interesting. They have a great tutorial here https://github.com/microsoft/jupyter-core/blob/master/tutorial.md but I've not had the spare time with all the other hobby coding! :-)

There is still the question

[2019-06-07 16:13] #220 closed

[2019-06-07 16:16] cgravill commented on #220
I'll assume you folks have it handled in Angara specifically.

I've moved the rawgit calls over to jsdelivr within IF#.

[2019-06-07 17:34] fradav commented on #227
Ok it works with this, thanks.

[2019-06-07 17:34] #227 closed

[2019-06-11 10:35] cgravill commented on #227
Great, glad that helped.

Before we release/stabilise the .NET Core version we should figure out why it behaves differently. Probably some configuration difference between F# Compiler Service hosted FSI and the local build of fsi.

[2019-06-12 10:43] cgravill commented on #186
I'm going to close this issue, it's an important feature but it's external to IF#. If it's implemented in XPlot happy to take any support changes to the helper scripts here.

[2019-06-12 10:43] #186 closed

[2019-06-12 10:53] cgravill commented on #223
Have you seen the example in the feature notebook? It has an example of interop with D3 where it creates a new div and manipulates that. That seems a controlled way of interacting with JavaScript libraries.

[2019-06-12 10:55] cgravill commented on #226
It's a choice, you can use that approach which is convenient for self-contained notebooks but you can also insert loads from a CDN.

[2019-06-12 11:41] aprooks commented on #223
This approach only works with d3 because it registers itself as a global dependency, Modern libraries are using `require` it won't work as with d3.

[2019-06-12 11:47] aprooks commented on #226
I could not make it work as self-contained anyway. Cells had to be re-run again in order for content to be rendered.

[2019-06-12 12:04] aprooks commented on #226
Also for customizations and self-containerization suggested the approach is to save .js  files on disk and load from notebook instead of embedding js into the notebook itself. 9k extra Loc as in provided repro is not fun to read and diff.

[2019-06-12 13:30] cgravill commented on #226
By self-contained I mean a single file so that it can be sent to others without path issues. It's not a context I would diff - personally I prefer wiping output before committing due to the Jupyter security model which is what usually causes me to have to re-run.

LoadGlobalJavaScript is a bit of hack I wrote, but it's doing what I intended it do to do. Are you proposing it do something else?

[2019-06-12 13:34] cgravill commented on #223
I'm a bit confused what you're after. Dependency resolution is different from having a magic `element`.

Separately it's not clear if the sort of magic IPython provide provides is a good idea. It would be risky for us to introduce as previously `element` hasn't been used in this.

[2019-06-12 13:45] cgravill commented on #112
I've done some experiments with the storage:none and it works well. There's a snag in that it makes any native dependencies awkward to load, which are often used in a notebook scenario.

There's also a planned extension to #r which would make this much better:
https://github.com/dotnet/fsharp/pull/5850

[2019-06-12 13:58] #153 closed

[2019-06-13 09:18] aprooks commented on #226
I'm only suggesting to try to find a workaround for `LoadGlobalJavaScript` which will not embed the imported library in an output cell. I'm new to Jupiter programming model and could not find a solution by myself.

[2019-06-14 20:31] aprooks commented on #223
I think what I wanted was something like this:

[code]

actual code in a cell

[code]

so it's just a way of running js code without bothering with fake html creation all the time. I will close this issue since this helper I've written is enough for me

[2019-06-14 20:32] #223 closed

[2019-06-20 13:53] cgravill commented on #223
Great, glad you found a solution.

JavaScript/Jupyter interop is very powerful but a bit messy, not sure the best set of options to provide, but that might make sense for some people.

[2019-06-22 12:40] matthid commented on #112
@cgravill I stumbled over this issue. If you mean with "native dependencies" the unmanaged stuff, then there is also an API in paket to do this just fine. You can take a look at [this commit](https://github.com/fsharp/FAKE/pull/2318/commits/a13e0e69460380b9ca65983c30aa1fd90e5d5f63) where I added support in FAKE for it.

[2019-06-23 22:18] Karrq opened #230 "Unable to install"
### Description

Unable to install the notebook using the zipped installer.

### Repro steps

Please provide the steps required to reproduce the problem

1. Unzip latest release

2. Run ifsharp.exe

### Expected behavior

Installation of notebook

### Actual behavior

[code]

### Known workarounds

None

### Related information

* Win10
* Last Release
* .NET Runtime > 4.7.2

I made sure jupyter is

[2019-06-24 12:26] Karrq commented on #230
After some more troubleshooting I was able to get IFSharp.exe to find jupyter by making  a shortcut to the jupyter executable found in `C:\\PythonInstallDir\\Scripts\\jupyter.exe` in my user's home folder (`C:\\Users\\MyUser`). It then installed succesfully.

Upon trying to use the newly installed kernel with Jupyter Lab it seems to not work at all, making jupyter hang and throw a lot of errors in

[2019-06-24 16:34] cgravill commented on #112
Yes, unmanaged platform specific libraries.

That's very interesting @matthid and your corresponding Paket change https://github.com/fsprojects/Paket/pull/3593 is great, and would mean loading dependencies would be much easier even without storage:none.

[2019-06-24 16:45] cgravill commented on #230
Strange, you shouldn't need to add that shortcut. Which Python distribution are you using?

The last zip release is from a while back. It's missing a fix for JupyterLab so you'd have to build from master yourself if you want to use JupyterLab for the moment.

[2019-06-24 17:19] Karrq commented on #230
I'm using Python 3.7.3 straight from the python software foundation (no Anaconda).

Good to know there's already a fix that's already done for the Lab incompatibility!

[2019-06-25 09:11] cgravill commented on #230
Some folks have definitely been able to use a straight Python installer though I use Anaconda myself. It's fairly direct what it's doing:

https://github.com/fsprojects/IfSharp/blob/de9561b91924442538c6a35efb45ce150cdc581a/src/IfSharp.Kernel/App.fs#L243-L255

If you run a `jupyter notebook` on the default terminal, does it load? Are you able to create an F# notebook?

You only have to run the exe